<div >
  <div *ngIf="!data.patient_visit_number && isSubmit == false" class="modal-content modal-custom-size-extra-small extra-small">
  <div class="modal-header">
    <h5 class="">Check in</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body no-scroll">
      <div class="mb-3 d-flex align-items-center justify-content-between">
        <h4>Lanjutkan check in pasien</h4>
      </div>
      <div class="visit-id-container">
        <div class="form-group">
          <!-- <div *ngFor="let alert of alerts">
            <ngb-alert class="alert-validation" *ngIf="alert" type="{{cssAlertType(alert)}}">{{ alert.message }}
            </ngb-alert>
          </div> -->
        </div>
        <!-- <h3 *ngIf="data.modalitySlot.patient_visit_number"> {{ data.modalitySlot.patient_visit_number }}</h3> -->
        <div class="form-inline">
          <label
            for="visit-id"
            style="margin-right: 10px"
            class="control-label">
            Visit Number
          </label>
          <div class="input-queue-ticket css-margin-right-top-1">
            <div class="field-queue css-margin-auto">
              <input id="input-number" class="form-control set-field css-margin-auto-uppercase" [textMask]="{mask: mask_visit_number}"
                [(ngModel)]="visitId"  (keyup)="checkCountChar()">
            </div>
          </div>
          <div
            class="form-group" [ngStyle]="{'text-align': 'center'}">
            <button  [disabled]="fieldError" class="btn btn-success mb-2 print-queue-button" (click)="inputVisitCode()">Print Queue Ticket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="visitId != null && isSubmit == true" class="modal-content modal-custom-size-small">
  <div class="modal-header">
    <h5 class="m-0">Check in berhasil</h5>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <div class="mb-2 text-center">
        <h5>{{hospital.name}}</h5>
        <span class="text-muted">{{this.data.modified_date}}</span>
      </div>
      <div class="visit-id-container pt-2 mb-5 text-center">
        <span class="text-muted">Nomor Kunjungan Anda</span>
        <h4>{{visitId}}</h4>
        <h3 class="pt-3">{{data.patient}}</h3>
        <span class="text-muted">Pria, {{data.patient_dob}}</span>
      </div>
      <div class="visit-modality-container text-center">
        <div class="container">
        <div class="row">
        <div class="col-md-4">
          <h5 class="text-muted mt-3">Modality</h5><br />
          <span class="mb-3">{{data.modality_name}}</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-muted mt-3">Tanggal</h5><br />
          <span class="mb-3">{{data.reserve_date}}</span>
        </div>
        <div class="col-md-4">
          <h5 class="text-muted mt-3">Waktu</h5><br />
          <span class="mb-3">{{data.from_time}} - {{data.to_time}}</span>
        </div>
      </div>
    </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="">
        <button class="btn ml-2" style="background-color: #341F97; color: white"><i class="fa fa-print"></i> Cetak Tiket</button>
      </div>
    </div>
  </div>

