<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  <div class="fo_menu_container">
      <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block">
    <div class="box bg-white">
      <div class="header-radiology-schedule">
        <div class="row border-bottom">
          <div class="col-md-12">
            <h3 class="p-3 ">
              Informasi Pasien
            </h3>
          </div>
        </div>
      </div>

      <section class="px-3 my-3 pb-3">
        <app-widget-patient-data></app-widget-patient-data>
      </section>
    </div>
  </div>
</div>
