<div class="modal-content">
  <div class="modal-header">
    <div class="header">
      Change Password
    </div>
    <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
      <div class="username-row full-width">
        <div class="d-flex justify-content-start">
          <div class="left-space">
            <div class="height-row"></div>
            <div class="height-row-2">Username</div>
          </div>
          <div class="right-space">
            <div class="height-row">
              <span *ngIf="f.submitted && !username.valid && !(user || isSubmit)" class="error-msg">* Username is required</span>
            </div>
            <div class="height-row-2">
              <input [disabled]="model.username || isSubmit" [(ngModel)]="model.username" id="username" 
                #username="ngModel" class="form-control" type="text" name="userName" required/>
            </div>
          </div>
        </div>
      </div>
      <div class="old-password-row full-width">
        <div class="d-flex justify-content-start">
          <div class="left-space">
            <div class="height-row"></div>
            <div class="height-row-2">Old Password</div>
          </div>
          <div class="right-space">
            <div class="height-row">
              <span *ngIf="f.submitted && !oldPassword.valid && !isSubmit" class="error-msg">* Old password is required</span>
            </div>
            <div class="height-row-2">
              <input [disabled]="isSubmit" [(ngModel)]="model.oldPassword" id="old-password" 
                #oldPassword="ngModel" class="form-control" type="password" name="oldPassword" required/>
            </div>
          </div>
        </div>
      </div>
      <div class="new-password-row full-width">
        <div class="d-flex justify-content-start">
          <div class="left-space">
            <div class="height-row"></div>
            <div class="height-row-2">New Password</div>
          </div>
          <div class="right-space">
            <div class="height-row">
              <span *ngIf="f.submitted && !newPassword.valid && !isSubmit" class="error-msg">* New password is required</span>
              <span *ngIf="f.submitted && newPassword.valid && alertText && checkingPass() === false" class="error-msg">{{alertText}}</span>
            </div>
            <div class="height-row-2">
              <input [disabled]="isSubmit" [(ngModel)]="model.newPassword" id="new-password"
              #newPassword="ngModel" class="form-control" type="password" name="newPassword" required/>
            </div>
          </div>
        </div>
      </div>
      <div class="confirm-new-password-row full-width">
        <div class="d-flex justify-content-start">
          <div class="left-space">
            <div class="height-row"></div>
            <div class="height-row-2">Confirm New Password</div>
          </div>
          <div class="right-space">
            <div class="height-row">
              <span *ngIf="f.submitted && !confirmNewPassword.valid && !isSubmit" class="error-msg">* Confirm new password is required</span>
            </div>
            <div class="height-row-2">
              <input [disabled]="isSubmit" [(ngModel)]="model.confirmNewPassword" id="confirm-new-password"
              #confirmNewPassword="ngModel" class="form-control" type="password" name="confirmNewPassword" required/>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button full-width" style="margin-top: 1.5rem">
        <div class="d-flex justify-content-start">
          <div class="full-width right-text">
            <button class="btn ms_btn_blue btn-submit">
              <span *ngIf="!isSubmit">Change Password</span>
              <span *ngIf="isSubmit">
                <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="full-width">
        <div class="d-flex justify-content-start">
          <div class="full-width">
            <div *ngFor="let alert of alerts" style="margin-top: 1rem;">
              <ngb-alert *ngIf="alert" type="{{cssAlertType(alert)}}" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>