:host(app-widget-appointment-list) { width:100% }
.fo_appointment_date{ width: 15%;}
.fo_container_input_date{ margin-bottom: 1rem}
.fo_container_input_date input { width: 200px}
.fo_container_list{ background: white; border: none; border-radius: 4px;}
.fo_header_grey{ background: #F4F4F4}
.fo_color_blue{ color: #1A2269;}
thead th a{ color: #1A2269; text-decoration: none}
.row-pink{background: #FFD4D1;}
.row-orange{background: #FFE17C;}
.row-green{background-color: #DCF0D3;}

.checkbox-upload {
  width: 1.5em;
}

.fo_row_patient_list span{ border-radius: 8px; border: none}
::ng-deep ngb-progressbar .progress .progress-bar{ background-color: #4D9B35 !important; color: white!important;}

.fo_confirmation_button.justify-content-center button{
  margin: 2rem 1rem;
  width: 9rem; height: 2.7rem;
}

.modal-body p { text-align: center}
::ng-deep .fo_modal_confirmation .modal-dialog{
  max-width: 40%;
  margin: 10rem auto;
}
::ng-deep .fo_modal_confirmation .modal-body div {
  text-align: center;
}
::ng-deep .modal-header{
  padding: 10px;
}
::ng-deep .modal-body{
 padding: 16px;
}
.fo_create_admission_body > div > div > div:not(:last-child) {
  margin-right: 14px;
}
.fo_create_admission_body > div { padding: 9px 0px}
.fo_create_admission_body > div:last-child{
  padding-top: 30px;
}
.fo_create_admission_body .justify-content-between > div:not(:last-child){
  margin-right: 14px;
}

::ng-deep .modal_queue .modal-dialog { 
  max-width: 40%;
  width: 40%;
  margin-top: 7vw;
}

.fo_btn_admission{ height: 2.7rem; width: 12rem;
  border: none; border-radius: 2px;
  font-size: 14px;
  margin-left: 1rem;
}
.fo_create_admission_body label{ font-size: 10px}
::ng-deep .fo_modal_admission .modal-dialog {
  margin: 10% auto;
  max-width: 50%;
}

.modal-message {
  padding: 15px 0;
  text-align: right;
}

::ng-deep .cc_modal_confirmation .modal-dialog{
  max-width: min-content !important;
}
::ng-deep .cc_modal_confirmation .thead > th {
  padding: 0;
}

::ng-deep .log-history .modal-dialog { 
  max-width: 93%;
  width: 93%;
  margin-top: 7vw;
}
::ng-deep .log-history-2 .modal-dialog { 
  max-width: 30%;
  width: 30%;
  margin-top: 7vw;
}

.cell-img-nav, .cell-img-nav-single {
 text-align: center;
}
.cell-img-nav > div, .cell-img-nav > div > img {
  width: 2em;
}
.cell-img-nav-single > div, .cell-img-nav-single > div > img {
  width: 2em;
}
::ng-deep .fo_container_input_date .alert {
  position: fixed;
  top: 90px;
  right: 20px;
  width: 35vw;
}

.kolom-type {
  text-align: center;
  color: white;
}
.kolom-type span {
  border-radius: 0.2em;
  padding: 0.1em 1em;
}
.filter-row td {
  padding: 0.2EM;
}

.payer-wrap {
  height: 100%;
}

.table-two-row-text {
	display: block;
	text-transform: capitalize;
}

.table-two-row-subtext {
	font-size: 10px;
	display: block;
	font-style: italic;
	color: #7f8c8d;
	margin-top: 5px;
  text-transform: lowercase;
}

.summary-swab-wrap {
  border: 1px solid #222F3E61;
  width: 120px;
  border-radius: 4px;
  padding: 7px 14px;  
  display: inline-block;
  margin-left: 8px;
  text-align: center;
  color: #222F3EDE;
}

.action-icon {
  cursor: pointer;
  margin-right: 3px;
}

.bg-white { 
  background-color: #fff;
}

.bg-blue { 
  background-color: #2980b9;
}

.bg-green { 
  background-color: #DCF0D3;
}

.bg-red { 
  background-color: #FED1D1;
}

.text-red {
  color: #FF0000DE;
}

.status-process {
	font-style: italic;
	color: #7f8c8d;
	font-size: 10px;
}

.status-process img {
  margin-right: 2px; 
  width: 13px; 
  margin-top: -2px
}

.status-undo {
	font-style: italic;
	color: #7f8c8d;
	font-size: 10px;
	font-weight: bold;
  cursor: pointer;
  display: inline-block;
}

.status-undo img {
	width: 10px;
	margin-right: 3px;
	margin-top: -2px;
}


.status-failed {
	font-style: italic;
	color: #e74c3c;
	font-size: 10px;
	font-weight: bold;
}

.status-failed img {
	width: 10px;
	margin-right: 3px;
	margin-top: -2px;
}

.pagination {
  display: flex;
  justify-content: center;
  vertical-align: center;
}

/* Modal Result*/
.modal-result .foto-ktp a img {
  width: 100%;
  height: 130px;
}

.modal-result .patient-data { 
  display: block;
  width: 100%;
  text-align: left !important;
}

.modal-result .patient-data .title {
  font-weight: bold;
  display: inline-block;
  width: 30%;
  color: #48484A;
  font-style: 14px;
}

.modal-result .patient-data .title {
  display: inline-block;
  color: #48484A;
  font-style: 14px;
}

.modal-result .radio-result {
  display: inline-block;
  margin-right: 15px;
}

.modal-result .radio-result input[type="radio"] {
  margin-right: 5px;
}

.modal-result .radio-result label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #48484A;
}

.modal-result button.btn-modal {
  padding: 9px 18px;
}

.modal-result button.btn-modal:hover {
  color: #ecf0f1;
  opacity: 0.9;
}

/* Modal Resend */
.modal-resend p.resend-email {
  color: #48484A;
  font-size: 14px;
}

.modal-resend button.btn-modal{
  margin: 0.5rem 1rem;
}
