<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  <div class="fo_menu_container">
    <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block">
    <div class="box bg-white">
      <div class="header-radiology-schedule">
        <h3 class="p-3 border-bottom">
          Worklist
        </h3>
        <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">          
        </div>
      </div>
    </div>
  </div>
</div>