<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  <div class="fo_menu_container">
      <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block">
    <div class="box bg-white">
      <h3 class="p-3 border-bottom">
        Radiology Schedule
      </h3>
      <div class="px-3 py-2 d-flex aling-items-center justify-content-between">
        <div>
          <button class="btn">
            <span class="fa fa-angle-left font-weight-bold"></span>
          </button>
          <button class="btn">
            <span class="fa fa-angle-right font-weight-bold"></span>
          </button>
          <span>06 May, 2022</span>
        </div>
        <div class="d-flex" >
          <button class="btn btn-light font-weight-bold text-muted d-flex mx-2" >
            <img src="../../../../assets/icons/ic_today.png" /> 
            <span class="ml-2" >Today</span>
          </button>
          <div style="width: 2px; background: #ccc;" ></div>
          <select class="form-control px-2 mx-2">
            <option>Day</option>
          </select>
        </div>
      </div>

      <!-- Content -->
      <section class="p-3">
        <table class="table table-bordered mt-3">
          <thead>
            <tr style="background-color: #F8F9FA;">
              <td colspan="2" class="py-3">Appointment</td>
              <td class="py-3">Patient</td>
              <td class="py-3">DoB</td>
              <td class="py-3">Local MR No</td>
              <td class="py-3">Examination</td>
              <td class="py-3">Note</td>
              <td class="py-3">Status</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of scheduleList; let i=index">
              <td *ngIf="i%2==0" rowspan="2" style="vertical-align: middle;" class="text-right">{{i}}</td>
              <td>{{item.timeSlot}}</td>
              <ng-container *ngIf="item.isCanCreate">
                <td>{{item.patient}}</td>
                <td>{{item.dob}}</td>
                <td>{{item.localMrNo}}</td>
                <td>{{item.examination}}</td>
                <td>{{item.note}}</td>
                <td><span class="badge badge-secondary px-3 py-2" style="border-radius: 50px;">{{item.status}}</span></td>
              </ng-container>
              <ng-container *ngIf="!item.isCanCreate">
                <td (click)="openCreateApp()" style="cursor: pointer;"><span class="text-success">Available</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>