<app-section-header></app-section-header>
<div class="d-flex justify-content-start"  style="position: relative;">
  <div class="fo_menu_container">
    <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block">
    <div class="box bg-white">
      <div class="header-radiology-schedule">
        <h3 class="p-3 border-bottom">
          Jadwal Radiologi
        </h3>
        <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
          <div class="d-flex align-items-center">
            <button class="btn" title="To Prev Period" (click)="toActionDate(true)">
              <span class="fa fa-angle-left font-weight-bold"></span>
            </button>
            <button class="btn" title="To Next Period" (click)="toActionDate()">
              <span class="fa fa-angle-right font-weight-bold"></span>
            </button>
            <span title="Current period view" class="pl-1" style="cursor: default;">{{ tableViewCurrentDateLabel }}</span>
          </div>
          <div class="d-flex align-items-center">
            <button
              title="To Today"
              class="btn py-2 font-weight-bold text-muted d-flex mr-2 {{tableViewCurrentIsToday ? 'btn-primary' : 'btn-light'}}"
              (click)="toToday()">
              <i class="fa fa-calendar-check-o" style="font-size: 16px;"></i>
              <span class="ml-2">Hari ini</span>
            </button>
            <div style="width: 2px; background: #ccc;"></div>
            <div>
              <ng-select
                title="Change type of period table"
                [(ngModel)]="tableViewActive"
                [items]="tableViewSelect"
                [clearable]="false"
                [searchable]="false"
                placeholder="Pilih Tampilan Tabel"
                bindLabel="text"
                bindValue="key"
                class="d-form-control mr-2 cursor-pointer"
                style="width: 94px;"
                [disabled]="sectionSelected?.operational_type === '1'"
                (change)="changeTableView($event)">
              </ng-select>
            </div>
            <div title="Pick period table" class="cursor-pointer-force">
              <app-date-picker
                width="140px"
                [format]="tableViewActive === 2 ? 'MMMM YYYY' : 'DD MMMM YYYY'"
                [(value)]="tableViewCurrentDate"
                [onChange]="onChangeDate">
              </app-date-picker>
            </div>
          </div>

        </div>
        <div class="p-3 border-bottom">
          <ng-container *ngIf="!isLoadingSection; else sectionLoading">
            <div class="btn-group-toggle" data-toggle="buttons" style="max-height: 100px; overflow: auto;">
              <label *ngFor="let item of sections"
                class="btn btn-light text-muted mb-2 rounded-8 room px-3 py-2 border {{sectionSelected && item.modality_hospital_id === sectionSelected.modality_hospital_id ?'active':''}}">
                <input [attr.type]="sectionSelectedCanMultiple ? 'checkbox' : 'radio'" [value]="item.modality_hospital_id" (click)="setSelectedSection(item)">
                <span>
                  {{item.modality_label + ' - Room ' + item.room_name }}
                  <i *ngIf="item.operational_type === '1'" class="fa fa-sort-numeric-asc ml-1" style="font-size: 8px;"></i>
                </span>
              </label>
            </div>
          </ng-container>
          <ng-template #sectionLoading>
            <div class="bg-secondary p-3 text-center rounded">Memuat Pilihan Modality...</div>
          </ng-template>
        </div>
        <div *ngIf="[0,1].includes(tableViewActive)"
          class="px-3 border-bottom">
          <div class="row" style="min-height: 56px;">
            <form (submit)="setFilterName($event)" class="col-md-3 position-relative pr-0 border-right">
              <input name="name" class="form-control pt-3 input-filter pr-5" type="text" placeholder="Cari Nama Pasien"
                title="Find patients"
                [(ngModel)]="filterName"/>
              <button type="submit" class="fa fa-search position-absolute border-0 bg-transparent" style="font-size: 16px; bottom: 15px;"></button>
            </form>
            <form (submit)="setFilterLocalMrNo($event)" class="col-md-3 position-relative pr-0 border-right">
              <input name="local_mr_no" class="form-control pt-3 input-filter pr-5" type="text" placeholder="Cari Local MR"
                title="Find local MR"
                [(ngModel)]="filterLocalMrNo" />
              <button type="submit" class="fa fa-search position-absolute border-0 bg-transparent" style="font-size: 16px; bottom: 15px;"></button>
            </form>
            <div *ngIf="sectionSelected?.operational_type !== '1'" class="col-md-2 pr-0 d-flex flex-column border-right pb-2 justify-content-around position-relative">
              <small class="text-muted" >Rentang Waktu</small>
              <div class="d-flex align-items-center">
                <app-time-picker
                  [(value)]="fromTimeRange"
                  [duration]="sectionSelected.duration" 
                  class="text-left px-0"
                  noBorder="true" 
                  [onChange]="onChangeTimer" ></app-time-picker>
                <b class="mx-2" >-</b>
                <app-time-picker
                  [(value)]="toTimeRange"
                  [duration]="sectionSelected.duration" 
                  noBorder="true" 
                  [onChange]="onChangeTimer" ></app-time-picker>
              </div>
              <div class="text-danger error-timer" *ngIf="isErrorTimer" >Waktu mulai tidak sesuai dengan waktu selesai.</div>
            </div>
            <div  class="col-md-2 pr-0 d-flex flex-column border-right justify-content-around">
              <small class="text-muted" >BPJS Status</small>
              <div class="d-flex align-items-center">
                <label class="d-flex align-items-center" >
                  <input type="checkbox" [ngModel]="isNonBpjs" (change)="toggeNonBpjs()" /> 
                  <span class="ml-2">Non BPJS</span>
                </label>
                <label class="d-flex align-items-center ml-2" >
                  <input type="checkbox" [ngModel]="isBpjs" (change)="toggeBpjs()" />
                  <span class="ml-2">BPJS</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Content -->
      <!-- <section class="bg-secondary p-5">
        <app-dropdown-examination
          [customFilterDivider]="' + '"
          [customFilter]="['name', 'id']"></app-dropdown-examination>
      </section> -->

      <section class="px-3 my-3 pb-3">
        <ng-container *ngIf="!showFilterTable || sectionSelected?.operational_type === '1'; else tableFilter">
          <div *ngIf="tableViewActive===2" class="no-sticky">
            <app-table-list-monthly
              (itemClick)="toDaily($event)"
              [sectionSelected]="sectionSelected"
              [dateSelected]="tableViewCurrentDate"
              [data]="scheduleList"></app-table-list-monthly>
          </div>
          <div *ngIf="tableViewActive===1" class="table-head-sticky">
            <app-table-list-weekly
              (itemClick)="toDaily($event)"
              [sectionSelected]="sectionSelected"
              [dateSelected]="tableViewCurrentDate"
              [fromTimeRange]="fromTimeRange"
              [toTimeRange]="toTimeRange"
              [isBpjs]="isBpjs" [isNonBpjs]="isNonBpjs" ></app-table-list-weekly>
          </div>
          <div *ngIf="tableViewActive===0" class="table-head-sticky">
            <app-table-list-daily
              *ngIf="sectionSelected?.operational_type !== '1'"
              [sectionSelected]="sectionSelected"
              [dateSelected]="tableViewCurrentDate"
              [fromTimeRange]="fromTimeRange"
              [toTimeRange]="toTimeRange"
              [isBpjs]="isBpjs" [isNonBpjs]="isNonBpjs" >
            </app-table-list-daily>
            <app-table-list-daily-fcfs 
              *ngIf="sectionSelected?.operational_type === '1'"
              [sectionSelected]="sectionSelected"
              [dateSelected]="tableViewCurrentDate" 
              [filter]="filter" 
              (isFilterShow)="resetFilter($event, false)" 
              [isBpjs]="isBpjs" [isNonBpjs]="isNonBpjs" > 
            </app-table-list-daily-fcfs>
          </div>
        </ng-container>
        <ng-template #tableFilter>
          <app-table-filter-schedule
            [tableViewActive]="tableViewActive"
            [sectionSelected]="sectionSelected"
            [dateSelected]="tableViewCurrentDate"
            [filter]="filter"
            (isFilterShow)="resetFilter($event, false)"></app-table-filter-schedule>
        </ng-template>
      </section>

      <!-- Modal Section -->
      <ng-template #createAppointmentModal let-modal>
        <div>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">New Appointment</h4>
            <button type="button" class="btn btn-clear btn-close" aria-label="Close"
              (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Search Patient Modal -->
            <div class="fo_personal_detail_container shadow-10">
              <ngb-tabset [destroyOnHide]="false">
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Contact Detail</b></ng-template>
                  <ng-template ngbTabContent>
                    <div id="fo_id_contact_detail">
                      <div class="fo_contact_detail justify-content-start ">
                        <ng-container>
                          <div>
                            <div class="border-bottom mb-3">
                              <div class="row">
                                <div class="col-md-2 pt-3">
                                  <label for="DOB" class="ml-3">DOB</label>
                                  <input class="form-control mb-2 input-filter form-placeholder" type="text" placeholder="DD-MM-YYYY"
                                    />
                                </div>
                                <div class="col-md-3 border-right pt-3">
                                  <label for="DOB" class="pl-3">Nama</label>
                                  <input class="form-control pt-2 input-filter mb-2" type="text" placeholder="Nama Pasien" />
                                  <span class="fa fa-search position-absolute"></span>
                                </div>
                                <div class="col-md-3 pt-3">
                                  <label for="mr" class="">Local MR</label>
                                  <input class="form-control mb-2 input-filter" type="text" placeholder="Cari Local MR"
                                    title="Find local MR" />
                                  <span class="fa fa-search position-absolute"></span>
                                </div>
                                  <div class="col-md-4 pt-3" style="margin-top:24px; padding-left: 5px;">
                                    <div class="d-flex">
                                      <select class="form-control input-filter" name="select-id-type-search" style="width: 35%;">
                                        <option value="1">KTP</option>
                                      </select>
                                      <input
                                        name="id-number-search"
                                        style="width: 65%;"
                                        id="id-number-field"
                                        type="text"
                                        class="form-control input-filter"
                                        placeholder=""
                                      />
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <table class="table table-stripped" style="background-color: #F8F9FA; border-bottom: 1px solid #F8F9FA;">
                                <thead style="background-color: #F8F9FA; border-bottom: 1px solid #F8F9FA;">
                                  <tr>
                                    <th></th>
                                    <th>Patient</th>
                                    <th>DOB</th>
                                    <th>Local MR No</th>
                                    <th>ID Number</th>
                                    <th>Phone No</th>
                                    <th>Alamat</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><input type="radio" id="huey" name="radio" value="huey"
                                      checked></td>
                                    <td>Fitria Palastri</td>
                                    <td>28 Des, 1999</td>
                                    <td>0819538</td>
                                    <td>KTP - 1234567890123456</td>
                                    <td>081234567890</td>
                                    <td>Jakarta Barat</td>
                                  </tr>
                                  <tr>
                                    <td><input type="radio" id="dewey" name="radio" value="dewey"></td>
                                    <td>Mila Suhartini</td>
                                    <td>23 Mar, 1994</td>
                                    <td>8350970</td>
                                    <td>KTP - 1234567890123456</td>
                                    <td>081817892091</td>
                                    <td>Jakarta Barat</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="mb-3 pl-3">
                              <div class="mb-3">
                                <h4>CT Scan - Room 1w</h4>
                              </div>
                              <div class="d-flex flex-row justify-content-start">
                                <!-- <div class="pl-0 col-md-3" style="border-right: 1px doted rgba(200, 203, 250, 0.5); ">
                                  <label for="">Date and Time</label>
                                  <div>
                                    <div class="position-relative">
                                      <app-date-picker class="input-filter" ></app-date-picker>
                                    </div>
                                  </div>
                                </div> -->
                                <div class="col-md-2 flex-row justify-content-start">
                                  <div class="d-flex align-items-center pt-3 mt-3 pr-5">
                                    <app-time-picker placeholder="23:00" ></app-time-picker>
                                    <b> - </b>
                                    <app-time-picker placeholder="23:00" ></app-time-picker>
                                  </div>
                                </div>
                                <div class="pl-5 col-md-6">
                                  <label for="">Examination <sup class="text-required">*</sup></label>
                                  <div>
                                    <select class="form-control">
                                      <option value="1" selected>Pilih Examination</option>
                                      <option value="">CT HEAD NON CONTRAST GK</option>
                                      <option value="">CT HEAD CONTRAST GK</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mb-3 pl-3">
                              <div class="mb-0">
                                <label for="">Note</label>
                                <div>
                                  <textarea rows="3" class="form-control" placeholder="Catatan Pasien"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                    </div>
                  </div>
                </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle><b>Pasien Baru</b></ng-template>
                  <ng-template ngbTabContent>
                    <ng-container>
                      <div class="formclass pl-3 pt-3 pr-3">
                        <div class="mb-3">
                          <div class="mb-3">
                            <h4>CT Scan - Room 1w</h4>
                          </div>
                          <div class="d-flex flex-row justify-content-start">
                            <div class="pl-0 col-md-3" style="border-right: 1px doted rgba(200, 203, 250, 0.5); ">
                              <label for="">Date and Time</label>
                              <div>
                                <div class="position-relative">
                                  <app-date-picker class="input-filter" ></app-date-picker>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2 flex-row justify-content-start">
                              <div class="d-flex align-items-center pt-3 mt-3 pr-5">
                                <app-time-picker placeholder="23:00" ></app-time-picker>
                                <b> - </b>
                                <app-time-picker placeholder="23:00" ></app-time-picker>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="">Nama Lengkap <sup class="text-required">*</sup></label>
                          <div>
                            <input type="text" class="form-control" placeholder="Masukkan Nama Lengkap Pasien" />
                          </div>
                        </div>
                        <div class="d-flex flex-wrap flex-row">
                          <div class="mb-3 w-50">
                            <label for="">Date of Birth <sup class="text-required">*</sup></label>
                            <div>
                              <input type="date" class="form-control" placeholder="DD-MM-YYYY" />
                            </div>
                          </div>
                          <div class="w-50" style="margin-top:24px; padding-left: 5px;">
                            <div class="d-flex">
                              <select class="form-control" name="select-id-type-search" style="width: 35%;">
                                <option value="1">KTP</option>
                              </select>
                              <input
                                name="id-number-search"
                                style="width: 65%;"
                                id="id-number-field"
                                type="text"
                                class="form-control"
                                placeholder=""
                              />
                            </div>
                          </div>
                          <div class="mb-3 w-50">
                            <label for="">Mobile Phone <sup class="text-required">*</sup></label>
                            <div>
                              <input type="text" class="form-control" placeholder="0822..." />
                            </div>
                          </div>
                          <div class="mb-3 w-50 pl-3">
                            <label for="">Email</label>
                            <div>
                              <input type="text" class="form-control" placeholder="email@domain.com" />
                            </div>
                          </div>
                          <div class="mb-3 w-50">
                            <label for="">Examination <sup class="text-required">*</sup></label>
                            <div>
                              <input type="text" class="form-control" placeholder="Select Examination" />
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-wrap flex-row">
                          <div class="mb-3 w-50">
                            <label for="">Note</label>
                            <div>
                              <textarea rows="3" class="form-control" placeholder="Catatan Pasien"></textarea>
                            </div>
                          </div>
                          <div class="mb-3 w-50 pl-3">
                            <label for="">Alamat</label>
                            <div>
                              <textarea rows="3" class="form-control" placeholder="Alamat Pasien"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
          <div class="modal-footer">
            <div class="d-flex flex-row justify-content-end">
              <button (click)="modal.dismiss('Cross click')" class="btn btn-secondary">Reset</button>
              <button (click)="modal.close('Save click')" class="btn btn-success ml-2">Create Appointment</button>
            </div>
          </div>
        </div>
      </ng-template>
























      <section *ngIf="false" class="p-5">
        <!-- Create / Update Appointment Modal -->
        <ng-container>
          <button class="btn btn-outline-primary mb-2 me-2" (click)="detailSchedule()">detail schedule create admission test</button>
          <div class="formclass">
            <div class="mb-3">
              <h4>CT Scan - Room 1</h4>
            </div>
            <div class="mb-3">
              <label for="">Date and Time</label>
              <div>
                (date picker component)
              </div>
            </div>
            <div class="mb-3">
              <label for="">Nama Lengkap <sup class="text-required">*</sup></label>
              <div>
                <input type="text" class="form-control" placeholder="Masukkan Nama Lengkap Pasien" />
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row">
              <div class="mb-3 w-50">
                <label for="">Date of Birth <sup class="text-required">*</sup></label>
                <div>
                  <input type="date" class="form-control" placeholder="DD-MM-YYYY" />
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="">ID Number <sup class="text-required">*</sup></label>
                <div>
                  <input type="text" class="form-control" placeholder="ID Number" />
                </div>
              </div>
              <div class="mb-3 w-50">
                <label for="">Mobile Phone <sup class="text-required">*</sup></label>
                <div>
                  <input type="text" class="form-control" placeholder="0822..." />
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="">Email</label>
                <div>
                  <input type="text" class="form-control" placeholder="email@domain.com" />
                </div>
              </div>
              <div class="mb-3 w-50">
                <label for="">Examination <sup class="text-required">*</sup></label>
                <div>
                  <div>
                    <select class="form-control">
                      <option value="1" selected>Pilih Examination</option>
                      <option value="">CT HEAD NON CONTRAST GK</option>
                      <option value="">CT HEAD CONTRAST GK</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row">
              <div class="mb-3 w-50">
                <label for="">Note</label>
                <div>
                  <textarea rows="3" class="form-control" placeholder="Catatan Pasien"></textarea>
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="">Alamat</label>
                <div>
                  <textarea rows="3" class="form-control" placeholder="Alamat Pasien"></textarea>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <!-- Create Appointment Modal -->
        <ng-container>
          <div class="formclass">
            <div class="mb-3 px-3">
              <h4>CT Scan - Room 1</h4>
            </div>
            <div class="mb-3 px-3">
              <label for="">Date and Time</label>
              <div>
                (date picker component)
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row mb-3 py-2 bg-secondary px-3">
              <div class="w-50">
                <label for="" class="text-muted">Local MR Number</label>
                <div>
                  <span class="form-label">4757323</span>
                </div>
              </div>
              <div class="w-50">
                <label for="" class="text-muted">Admission Number</label>
                <div>
                  <span class="form-label">-</span>
                </div>
              </div>
            </div>
            <div class="mb-3 px-3">
              <label for="" class="text-muted">Nama Lengkap</label>
              <div>
                <span class="form-label">Michael Angelo</span>
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row px-3">
              <div class="mb-3 w-50">
                <label for="" class="text-muted">Date of Birth</label>
                <div>
                  <span class="form-label">12-08-1991</span>
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="" class="text-muted">ID Number</label>
                <div>
                  <span class="form-label">KTP - 1234567890123456</span>
                </div>
              </div>
              <div class="mb-3 w-50">
                <label for="" class="text-muted">Mobile Phone</label>
                <div>
                  <span class="form-label">081234567890</span>
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="" class="text-muted">Email</label>
                <div>
                  <span class="form-label">-</span>
                </div>
              </div>
              <div class="mb-3 w-50">
                <label for="">Examination <sup class="text-required">*</sup></label>
                <div>
                  <input type="text" class="form-control" placeholder="Select Examination" />
                </div>
              </div>
            </div>
            <div class="d-flex flex-wrap flex-row px-3">
              <div class="mb-3 w-50">
                <label for="">Note</label>
                <div>
                  <textarea readonly rows="3" class="form-control" placeholder="Catatan Pasien"></textarea>
                </div>
              </div>
              <div class="mb-3 w-50 pl-3">
                <label for="">Alamat</label>
                <div>
                  <textarea readonly rows="3" class="form-control" placeholder="Alamat Pasien"></textarea>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <!-- Notif Data Patient -->
        <ng-container>
          <!-- Data Pasien -->
          <div>Pasien belum melengkapi data, silahkan lengkapi data pasien untuk melanjutkan ke proses Admission.</div>
          <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-secondary">Kembali</button>
            <button class="btn btn-primary ml-2">Lengkapi Data Pasien</button>
          </div>
        </ng-container>

        <!-- Appointment Action Modal -->
        <!-- Appointment Action Modal: Check-in -->
        <ng-container>
          <!-- Check in -->
          <div>
            <div class="mb-3">Lakukan check in pasien?</div>
            <div class="mb-3">
              <label for="">Visit Number Pasien <sup class="text-required">*</sup></label>
              <div>
                <input type="text" class="form-control" placeholder="Visit Number" />
              </div>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-secondary">Kembali</button>
            <button class="btn btn-success ml-2">Check In</button>
          </div>
        </ng-container>
        <!-- Appointment Action Modal: Check-in Success Notif -->
        <ng-container>
          <!-- Check in Berhasil -->
          <div>
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mb-3">
                <h4>Siloam Hospital Lippo Village</h4>
                <label for="">26 / 06 / 2022 - 11:37:20</label>
              </div>
              <div class="mb-3">
                <label for="">Your Visit Number</label>
                <h3>I0002</h3>
              </div>
              <div class="mb-3">
                <h3>Taufik Hidayanto</h3>
                <label for="">Male, 22 Juni 1998</label>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-around text-center">
              <div class="mb-3">
                <label for="">Modality</label>
                <div>
                  <h4>CT-Scan Room 1</h4>
                </div>
              </div>
              <div class="mb-3">
                <label for="">Date</label>
                <div>
                  <h4>26 / 06 /2022</h4>
                </div>
              </div>
              <div class="mb-3">
                <label for="">Time</label>
                <div>
                  <h4>15:30 - 16:29</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-primary" (click)="showHistoryModal()">Cetak Tiket</button>
          </div>
        </ng-container>

        <!-- Update History Timeline -->
        <ng-container>
          <!-- Update History -->
          <div>
            <!-- WIP -->
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
