<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  <div class="fo_menu_container">
      <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block">
    <div class="box bg-white">
      <h3 class="p-3 border-bottom">
        Radiology Schedule
      </h3>
      <div class="px-3 py-2 d-flex aling-items-center justify-content-between border-bottom">
        <div>
          <button class="btn">
            <span class="fa fa-angle-left font-weight-bold"></span>
          </button>
          <button class="btn">
            <span class="fa fa-angle-right font-weight-bold"></span>
          </button>
          <span>06 May, 2022</span>
        </div>
        <div class="d-flex" >
          <button class="btn btn-light font-weight-bold text-muted d-flex mx-2" >
            <img src="../../../../assets/icons/ic_today.png" /> 
            <span class="ml-2" >Today</span>
          </button>
          <div style="width: 2px; background: #ccc;" ></div>
          <select class="form-control px-2 mx-2">
            <option>Day</option>
          </select>
          <input class="form-control" type="text" value="May 2022" />
        </div>

      </div>
      <div class="p-3 border-bottom" >
        <button *ngFor="let room of rooms" type="button" class="btn btn-secondary bg-light text-muted mb-2 rounded-8 room px-3 py-2">
          {{ room }}
        </button>
      </div>
      <div class="px-3 border-bottom" >
        <div class="row" >
          <div class="col-md-3 position-relative pr-0" >
            <input class="form-control pt-3 input-filter pr-4" type="text" placeholder="Cari nama pasien" title="Find patients" />
            <span class="fa fa-search position-absolute" ></span>
          </div>
          <div class="col-md-3 position-relative pr-0" >
            <input class="form-control pt-3 input-filter pr-4" type="text" placeholder="Cari Local MR" title="Find local MR" />
            <span class="fa fa-search position-absolute" ></span>
          </div>
          <div class="col-md-3 position-relative pr-0 d-flex flex-column" >
            <small>Time Range</small>
            <div class="d-flex aling-items-center">
              <select class="form-control border-0" >
                <option>00:00</option>
              </select>
              <b>-</b>
              <select class="form-control border-0">
                <option>23:00</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>