<div class="row">
  <div class="col-4 p-1" style="border-right: 1px solid #E9EBF0;">
    <div class="px-3 py-1">
      <ngb-alert type="warning">
        <div class="d-flex">
          <i class="fa fa-exclamation-circle mr-3 text-warning" style="font-size: 20px;"></i>
          <div>Pastikan anda telah mengisi semua informasi dengan benar dan sesuai. <br>(*) Wajib diiisi.</div>
        </div>
      </ngb-alert>
    </div>
    <div id="list-navigation" class="list-group x-list-group et">
      <a class="list-group-item list-group-item-action" href="#list-item-1">Detail Pasien</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">Kontak Pasien</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">Alamat Pasien</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">Kontak Darurat</a>
      <a class="list-group-item list-group-item-action" href="#list-item-5">Pembayar dan Atribut</a>
    </div>
  </div>
  <div class="col-8">
    <section class="mb-3">
      <div class="row border-bottom pb-4">
        <div class="mb-3 col-12">
          <h4>Detail Pasien</h4>
        </div>
        <div class="mb-3 col-3">
          <label for="titlePatient">Gelar</label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Gender"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-7">
          <label for="patientName">Nama Pasien <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientName"
              id="patientName"
              type="text"
              class="form-control text-muted"
              placeholder="Nama Lengkap Pasien"
            />
          </div>
        </div>
        <div class="w-100"></div>
        <div class="mb-3 col-10">
          <label for="modality_label">Nomor Identitas <sup class="text-required">*</sup></label>
            <div class="input-group">
              <div class="id-type">
                <ng-select
                  placeholder="Jenis"
                  bindLabel="description"
                  bindValue="value"
                  class="x-form-control">
                </ng-select>
              </div>
              <input
                name="id-number"
                id="id-number-field"
                type="text"
                class="ml-1 form-control"
                placeholder="Nomor Identitas"
              />
            </div>
            <div class="my-2 d-flex flex-row px-3 py-2 rounded align-items-center cursor-pointer" style="border: 2px dashed #575FCF;">
              <i class="fa fa-cloud-upload mr-2 text-primary" style="font-size: 32px;"></i>
              <div>
                <div class="text-primary">Pilih gambar Identitas untuk di unggah</div>
                <div class="text-muted">atau tarik dan lepaskan disini.</div>
              </div>
            </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Tempat Lahir <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Tempat Lahir"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Tanggal Lahir <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientBirthDate"
              id="patientBirthDate"
              type="text"
              class="form-control text-muted"
              placeholder="Tanggal Lahir"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <p>Jenis Kelamin <sup class="text-required">*</sup></p>
          <div class="form-check form-check-inline pr-3">
            <input class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio" [value]=false>
            <label class="form-check-label ml-1" for="bpjsRadio">Pria</label>
          </div>
          <div class="form-check form-check-inline">
            <input  lass="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio2" [value]=true>
            <label class="form-check-label ml-1" for="bpjsRadio">Wanita</label>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Agama <sup class="text-required">*</sup></label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Agama"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Status Perkawinan <sup class="text-required">*</sup></label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Status Perkawinan"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Kewarganegaraan <sup class="text-required">*</sup></label>
          <div class="input-group">
            <div class="input-group">
              <ng-select
                placeholder="Pilih Kewarganegaraan"
                bindLabel="description"
                bindValue="value"
                class="x-form-control">
              </ng-select>
            </div>
          </div>
        </div>
        <div class="mb-3 col-4">
          <label for="patientName">Nama Pasangan</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Nama Pasangan"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 col-4">
          <label for="patientName">Nama Ayah</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Nama Ayah"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 col-4">
          <label for="patientName">Nama Ibu</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Nama Ayah"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Alergi</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Alergi Pasien"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Catatan</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Catatan Pasien"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-3">
      <div class="row border-bottom pt-3 pb-4">
        <div class="mb-3 col-12">
          <h4>Kontak</h4>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Nomor Telepon 1 <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Nomor Telepon 2</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Nomor Telepon Rumah</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Nomor Telepon Kantor</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Alamat Email Utama <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Alamat Email Cadangan</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nomor Telepon"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="mb-3">
      <div class="row border-bottom pt-3 pb-4">
        <div class="mb-3 col-12">
          <h4>Alamat</h4>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Kota/Kabupaten <sup class="text-required">*</sup></label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Kota/Kabupaten"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Kecamatan <sup class="text-required">*</sup></label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Kecamatan"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Kelurahan <sup class="text-required">*</sup></label>
          <div class="input-group">
            <ng-select
              placeholder="Pilih Kelurahan"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="mb-3 col-6">
          <label for="patientName">Kode Pos</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Kode Pos"
            />
          </div>
        </div>
        <div class="mb-3 col-12">
          <label for="patientName">Alamat</label>
          <div class="input-group">
            <textarea
              name="patientBirthPlace"
              id="patientBirthPlace"
              rows="3"
              class="form-control text-muted"
              placeholder="Alamat Lengkap"
            ></textarea>
          </div>
        </div>
      </div>
    </section>

    <section class="mb-3">
      <div class="row border-bottom pt-3 pb-4">
        <div class="mb-3 col-12">
          <h4>Kontak Darurat</h4>
        </div>
  
        <div class="mb-3 col-6">
          <label for="patientName">Nama Lengkap <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Nama Lengkap"
            />
          </div>
        </div>
        <div class="mb-3 col-6"></div>
  
        <div class="mb-3 col-4">
          <label for="patientName">Nomor Telepon 1 <sup class="text-required">*</sup></label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Nomor telepon"
              />
            </div>
          </div>
        </div>
  
        <div class="mb-3 col-4">
          <label for="patientName">Nomor Telepon 2</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Nomor telepon"
              />
            </div>
          </div>
        </div>
  
        <div class="mb-3 col-4">
          <label for="patientName">Alamat Email</label>
          <div class="input-group">
            <div class="input-group">
              <input
                name="patientNationality"
                id="patientNationality"
                type="text"
                class="form-control text-muted"
                placeholder="Alamat email"
              />
            </div>
          </div>
        </div>
  
        <div class="mb-3 col-6">
          <label for="patientName">Kota/kabupaten</label>
          <div class="input-group">
            <input
              name="patientBirthPlace"
              id="patientBirthPlace"
              type="text"
              class="form-control text-muted"
              placeholder="Kota/kabupaten"
            />
          </div>
        </div>
        <div class="mb-3 col-6"></div>
  
        <div class="mb-3 col-12">
          <label for="patientName">Alamat</label>
          <textarea
            name="patientBirthPlace"
            id="patientBirthPlace"
            type="text"
            rows="3"
            class="form-control text-muted"
            placeholder="Alamat Lengkap"
          ></textarea>
        </div>
      </div>
    </section>

    <section class="mb-3">
      <h4>Pembayar</h4>
      <div class="row">
        <div class="col-6">
          <label for="">Nama Pembayar</label>
          <ng-select
            placeholder="Pilih Pembayar"
            bindLabel="description"
            bindValue="value"
            class="x-form-control">
          </ng-select>
        </div>

        <div class="col-6">
          <label for="">No. Pembayar</label>
          <input type="text" class="form-control" placeholder="No. Pembayar" />
        </div>
      </div>
    </section>

    <section>
      <section class="mb-3">
        <h4>Attribute Pusat</h4>
        <div class="row">
          <div class="col-4 mb-3">
            <label for="">Atribut 1</label>
            <input type="text" class="form-control" placeholder="Attibut Pusat 1" disabled />
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 2</label>
            <input type="text" class="form-control" placeholder="Attibut Pusat 2" disabled />
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 3</label>
            <input type="text" class="form-control" placeholder="Attibut Pusat 3" disabled />
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 4</label>
            <input type="text" class="form-control" placeholder="Attibut Pusat 4" disabled />
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 5</label>
            <input type="text" class="form-control" placeholder="Attibut Pusat 5" disabled />
          </div>
        </div>
      </section>
      <hr>
      <section class="mb-3">
        <h4>Atribut Organisasi</h4>
        <div class="row">
          <div class="col-4 mb-3">
            <label for="">Atribut 1</label>
            <ng-select
              placeholder="Atribut Organisasi 1"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 2</label>
            <ng-select
              placeholder="Atribut Organisasi 2"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 3</label>
            <ng-select
              placeholder="Atribut Organisasi 3"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 4</label>
            <ng-select
              placeholder="Atribut Organisasi 4"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
          <div class="col-4 mb-3">
            <label for="">Atribut 5</label>
            <ng-select
              placeholder="Attribute Organisasi 5"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
