.x-list-group {
    border-radius: 0;
}
.x-list-group .list-group-item {
    border: 0;
    font-size: 14px;
    padding: 8px 6px 8px 10px;
    border-left: 4px solid transparent;
    color: rgba(34, 47, 62, 0.54);
}

.x-list-group .list-group-item:hover, .x-list-group .list-group-item:active {
    border-left: 4px solid #575FCF;
    color: #575FCF;
}

.ng-select.x-form-control {
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    display: block;
    width: 100%;
    color: rgba(34, 47, 62, 0.87);
  }
  
  .ng-select.x-form-control ::ng-deep .ng-select-container {
    height: 31px !important;
    min-height: 31px !important;
  }
  
  .ng-select.x-form-control ::ng-deep .ng-dropdown-panel {
    z-index: 18;
  }

  