.form-label.text-muted { margin-bottom: -4px; }
.badge-local-secondary {
  background: #F8F9FA;
  border-radius: 4px;
  border: 1px solid rgba(34, 47, 62, 0.12);
  color: rgba(34, 47, 62, 0.54)
}

select.x-form-control {
  padding: 8px 6px;
  border: 1px solid rgba(34, 47, 62, 0.38);
  border-radius: 4px;
  display: block;
  width: 100%;
  color: rgba(34, 47, 62, 0.87);
}

.input-group.x-form-control {
  border-radius: 4px;
  border: 1px solid rgba(34, 47, 62, 0.38);
  color: rgba(34, 47, 62, 0.87);
}
.input-group.x-form-control .form-control {
  border: 0;
}
.input-group.x-form-control.disabled {
  background-color: #eee !important;
  color: #666;
}

select.x-form-control::placeholder {
  color: rgba(34, 47, 62, 0.38) !important;
}

select.x-form-control:focus {
  outline: none;
  box-shadow: none;
}

.ng-select.x-form-control {
  padding: 0;
  border: 1px solid rgba(34, 47, 62, 0.38);
  border-radius: 4px;
  display: block;
  width: 100%;
  color: rgba(34, 47, 62, 0.87);
}

.ng-select.x-form-control ::ng-deep .ng-select-container {
  height: 31px !important;
  min-height: 31px !important;
}

.ng-select.x-form-control ::ng-deep .ng-dropdown-panel {
  z-index: 18;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input {
  padding: 2px 30px 0px 10px !important;
  /* height: 35px !important; */
  background-color: transparent;
}
.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .input-container ::ng-deep input::placeholder {
  color: rgba(34, 47, 62, 0.38) !important;
}

.ng-autocomplete ::ng-deep .autocomplete-container {
  color: #495057;
  height: calc(1.5em + .8rem + 5px) !important;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid rgba(34, 47, 62, 0.38);
}

.ng-autocomplete ::ng-deep .autocomplete-container .input-container input:disabled {
  background-color: #eee !important;
  color: #666;
}

.ng-autocomplete ::ng-deep .autocomplete-container .suggestions-container ul li a {
  font-size: 12px !important;
}
