<div class="modal-content modal-extralarge-size">
  <div class="modal-header-custom px-0 px-4">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="align-self-center">
        <h3 class="m-0 text-bold">Admission Pasien</h3>
      </div>
      <div>
        <button #close_button type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
          <span class="back-button" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body p-0">
    <!-- Content Data -->
    <ng-container>
      <div class="p-2">
        <!-- Header Information -->
        <div class="d-flex flex-row justify-content-start mt-2 mb-4 px-3">
          <div class="py-1 px-3 rounded text-muted badge-local-secondary"><span>Tanggal Admission:</span><b class="pl-2">{{model.reserve_date || '-'}}</b></div>
          <div class="ml-3 py-1 px-3 rounded text-muted badge-local-secondary"><span>Nomor MR Lokal:</span><b class="pl-2">{{model.local_mr_no || '-'}}</b></div>
        </div>
        <!-- Patient Information -->
        <section class="mb-3">
          <h4 class="mb-2 px-3">Data Pasien</h4>
          <div class="px-0">
            <div class="row mx-0">
              <div class="col col-12 mb-3">
                <label class="form-label text-muted">Nama Pasien</label>
                <div class="form-label">{{model.patient_name || '-'}}</div>
              </div>
              <div class="col col-4 mb-3">
                <label class="form-label text-muted">Tanggal Lahir</label>
                <div class="form-label">{{model.patient_dob || '-'}}</div>
              </div>
              <div class="col col-4 mb-3">
                <label class="form-label text-muted">Nomor Identitas</label>
                <div class="form-label">
                  <span>{{nationalIdTypeName[model.identity_type_id] || '-'}}</span>
                  <span class="mx-2">-</span>
                  <span>{{model.identity_number || '-'}}</span>
                </div>
              </div>
              <div class="col col-4 mb-3">
                <label class="form-label text-muted">Nomor Telepon</label>
                <div class="form-label">{{model.patient_phone_number_1 || model.patient_phone_number_2 || '-'}}</div>
              </div>
              <div class="col col-12 mb-3">
                <label class="form-label text-muted">Alamat</label>
                <div class="form-label">{{'-'}}</div>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <!-- Admission Data -->
        <section class="mb-3 mt-2">
          <h4 class="mb-2 px-3">Data Admission</h4>
          <div class="px-0">
            <div class="row mx-0">
              <div class="col col-4 mb-3">
                <label class="form-label">Jenis Rujukan</label>
                <div>
                  <ng-select
                    [(ngModel)]="referralType"
                    [items]="referralTypes"
                    [clearable]="false"
                    placeholder="Pilih Tipe Pasien"
                    bindLabel="description"
                    class="x-form-control">
                  </ng-select>
                </div>
              </div>
              <!-- ReferralType: Internal Doctor Referral -->
              <ng-container *ngIf="referralType && referralType.value === '2'">
                <div class="col col-4 mb-3">
                  <label class="form-label text-muted">Dokter Internal yang Dirujuk<sup class="text-required">*</sup></label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Dokter Internal yang Dirujuk" />
                  </div>
                </div>
                <div class="col col-4 mb-3">
                  <label class="form-label text-muted">Nomor  Admission yang Dirujuk<sup class="text-required">*</sup></label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Admission yang Dirujuk" />
                  </div>
                </div>
              </ng-container>
              <!-- ReferralType: External Doctor Referral -->
              <ng-container *ngIf="referralType && referralType.value === '5'">
                <div class="col col-4 mb-3">
                  <label class="form-label text-muted">Dokter Eksternal yang Dirujuk<sup class="text-required">*</sup></label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Dokter Eksternal yang Dirujuk" />
                  </div>
                </div>
              </ng-container>
              <!-- ReferralType: External Doctor Referral - Unlisted -->
              <ng-container *ngIf="referralType && referralType.value === '4'">
                <div class="col col-4 mb-3">
                  <label class="form-label text-muted">Nama<sup class="text-required">*</sup></label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Nama" />
                  </div>
                </div>
                <div class="col col-4 mb-3">
                  <label class="form-label text-muted">Nomor Telepon<sup class="text-required">*</sup></label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Nomor Telepon*" />
                  </div>
                </div>
              </ng-container>
              <div class="w-100"></div>
              <div class="col col-4 mb-3">
                <label class="form-label text-muted">Nama Pembayar</label>
                <div class="form-label">-</div>
              </div>
              <div class="col col-8 mb-3">
                <label class="form-label text-muted">Nomor Pembayaran</label>
                <div class="form-label">-</div>
              </div>
            </div>
          </div>
        </section>
        <hr>
        <!-- Patient Type Form -->
        <section>
          <div class="px-0">
            <div class="row mx-0">
              <div class="col col-4 mb-3">
                <label class="form-label">Tipe Pasien</label>
                <div>
                  <ng-select
                    [(ngModel)]="patientType"
                    [items]="patientTypes"
                    [clearable]="false"
                    placeholder="Pilih Tipe Pasien"
                    bindLabel="description"
                    class="x-form-control">
                  </ng-select>
                </div>
              </div>
              <div class="col-8 mb-3">
                <label class="form-label">Ruangan / Lokasi</label>
                <div>
                  <ng-select
                    [(ngModel)]="roomSelect"
                    [items]="roomOptions"
                    [clearable]="false"
                    placeholder="Pilih Ruangan / Lokasi"
                    bindLabel="description"
                    class="x-form-control">
                  </ng-select>
                </div>
              </div>
              <!-- PatientType: Private -->
              <ng-container *ngIf="patientType && patientType.value === '1'">
                <div class="w-100" style="height: 100px;"></div>
              </ng-container>
              <!-- PatientType: Payer -->
              <ng-container *ngIf="patientType && patientType.value === '2'">
                <div class="col-4 mb-3">
                  <label class="form-label">Pembayar</label>
                  <div>
                    <select [(ngModel)]="roomSelect" class="x-form-control" placeholder="Pilih Ruangan / Lokasi">
                      <!-- <option value="" disabled>Pilih Ruangan / Lokasi</option> -->
                    </select>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Nomor Pembayar</label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Nomor Pembayar" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Nomor Kelayakan Pembayar</label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Nomor Kelayakan Pembayar" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Sumber Rujukan</label>
                  <div>
                    <select [(ngModel)]="roomSelect" class="x-form-control" placeholder="Pilih Ruangan / Lokasi">
                      <!-- <option value="" disabled>Pilih Ruangan / Lokasi</option> -->
                    </select>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Nomor Rujukan</label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Nomor Rujukan" />
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Tanggal Rujukan</label>
                  <div>
                    <select [(ngModel)]="roomSelect" class="x-form-control" placeholder="Pilih Ruangan / Lokasi">
                      <!-- <option value="" disabled>Pilih Ruangan / Lokasi</option> -->
                    </select>
                  </div>
                </div>
                <div class="col-4 mb-3">
                  <label class="form-label">Diagnosa</label>
                  <div>
                    <select [(ngModel)]="roomSelect" class="x-form-control" placeholder="Pilih Ruangan / Lokasi">
                      <!-- <option value="" disabled>Pilih Ruangan / Lokasi</option> -->
                    </select>
                  </div>
                </div>
                <div class="col-8 mb-3">
                  <label class="form-label">Catatan Pembayar</label>
                  <div>
                    <input class="form-control" placeholder="Masukkan Catatan Pembayar" />
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </section>
        <!-- Email Form -->
        <section>
          <div class="px-0">
            <div class="row mx-0">
              <div class="col col-4 mb-3">
                <label class="form-label">Jenis Email</label>
                <div>
                  <ng-select
                    [(ngModel)]="emailType"
                    [items]="emailTypes"
                    [clearable]="false"
                    placeholder="Pilih Jenis Email"
                    bindLabel="description"
                    class="x-form-control"
                    (change)="changeEmailType()">
                  </ng-select>
                </div>
              </div>
              <div class="col col-4 mb-3">
                <label class="form-label">Email</label>
                <div>
                  <input [ngModel]="txtEmail" [disabled]="isAdmissionEmailDisabled" class="form-control" placeholder="Email Isian" />
                </div>
              </div>
              <div class="col col-4 mb-3">
                <label class="form-label">Catatan</label>
                <div>
                  <input [(ngModel)]="txtNote" class="form-control" placeholder="Masukkan Catatan" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <div class="w-100 d-flex flex-row justify-content-between px-1 align-items-center">
      <div class="d-flex flex-row align-items-center pl-4 ml-1">
        <input [(ngModel)]="txtIsSigned" type="checkbox" name="formSigned" id="formSigned" class="form-check-input">
        <label class="form-check-label pl-2" for="formSigned" style="position: relative; top: 2px;">Formulir Ditandatangani</label>
      </div>
      <button *ngIf="!isLoadingFetch" (click)="createAdmission($event)" [disabled]="isLoading" class="btn btn-success px-3 ml-2">Buat Admission</button>
    </div>
    
    <ng-container *ngIf="isLoadingFetch || isError">
      <div class="w-100 mt-3">
        <div *ngIf="isError">
          <ngb-alert type="danger" (close)="isError = false">{{errorMessage}}</ngb-alert>
        </div>
        <div *ngIf="isLoadingFetch" class="bg-secondary p-2 rounded">Menyiapkan Data Jadwal dan Admission.... Mohon Menunggu...</div>  
      </div>
    </ng-container>
  </div>
</div>

<ng-template #admissionDetail let-modal>
  <div class="modal-content modal-custom-size">
    <div class="modal-header-custom px-0 px-4">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="align-self-center">
          <h5 class="m-0 text-bold">Admission Berhasil</h5>
        </div>
        <div>
          <button type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="modal.dismiss()">
            <span class="back-button" aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
    <div class="modal-body p-0">
      <!-- Content Data -->
      <ng-container>
        <div class="py-2">
          <!-- Patient Information -->
          <section class="mb-3">
            <div class="px-0">
              <div class="row mx-0">
                <div class="col-6 mb-3 py-3 bg-secondary">
                  <label class="form-label text-muted">No. MR Lokal</label>
                  <div class="form-label">{{model.local_mr_no || '-'}}</div>
                </div>
                <div class="col-6 mb-3 py-3 bg-secondary">
                  <label class="form-label text-muted">Nomor Admission</label>
                  <div class="form-label" title="{{model.admission_id}}">{{model.admission_no || '-'}}</div>
                </div>
                <div class="w-100"></div>
                <div class="col-12 mb-3">
                  <label class="form-label text-muted">Nama Pasien</label>
                  <div class="form-label">{{model.patient_name || '-'}}</div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label text-muted">Tanggal Lahir</label>
                  <div class="form-label">{{model.patient_dob || '-'}}</div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label text-muted">Nomor Identitas</label>
                  <div class="form-label">
                    <span>{{nationalIdTypeName[model.identity_type_id] || '-'}}</span>
                    <span class="mx-2">-</span>
                    <span>{{model.identity_number || '-'}}</span>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label text-muted">Nomor Telepon</label>
                  <div class="form-label">{{model.patient_phone_number_1 || model.patient_phone_number_2 || '-'}}</div>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label text-muted">Email</label>
                  <div class="form-label">{{model.email || '-'}}</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </ng-container>
    </div>
    <div class="modal-footer">
      <div class="w-100 d-flex flex-row justify-content-end px-1 align-items-center">
        <button (click)="createAdmission($event)" class="btn btn-primary"><b class="fa fa-print mr-2"></b>Cetak Label</button>
        <button (click)="inputQueueNumber()" class="btn btn-success ml-2">Check in Pasien</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loadingIndicatorModal let-modal>
  <div class="modal-content modal-custom-size">
    <div class="modal-header-custom border-0 px-0 px-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="align-self-center">
          <h5 class="m-0 text-bold">Proses Admission</h5>
        </div>
      </div>
    </div>
    <div class="modal-body p-4">
      <div class="d-flex flex-column align-items-center justify-content-center text-center p-3">
        <div></div>
        <div>
          <div *ngIf="!isError && isLoading">Proses sedang berjalan... Mohon menunggu...</div>
          <ng-container *ngIf="isError">
            <div class="text-danger mb-4">Error: {{errorMessage}}</div>
            <div *ngIf="isError">
              <button class="btn btn-text text-secondary" 
                (click)="modal.close()"
                (click)="createAdmission($event)">Ulangi Proses</button>
              <button class="btn btn-primary ml-3" (click)="modal.close()">Cek Ulang Data</button>
            </div>
          </ng-container>
          <ng-container *ngIf="isSuccess">
            <div>Admission Berhasil</div>
            <button #btnCloseAdmissionSuccess class="btn btn-text text-secondary px-4 w-50 mt-2" (click)="modal.close()">Tutup</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>
