<div class="modal-content">
  <div class="modal-header-custom px-0">
    <div class="d-flex flex-wrap justify-content-between px-4">
      <div class="align-self-center">
        <h4 class="m-0 font-weight-bold">Jadwalkan Pasien</h4>
      </div>
      <div>
        <button type="button" #close_button type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
          <span class="back-button" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-header-custom px-0 py-0 border-bottom-0 border-0">
    <div *ngIf="alertMap[defaultAlertKey]" class="modal-header-custom px-0">
      <div *ngFor="let alert of alertMap[defaultAlertKey]">
        <ngb-alert class="alert-message" *ngIf="alert" type="{{alert.typeName}}" (close)="removeAlert(alert)">{{ alert.message }}
        </ngb-alert>
      </div>
    </div>
  </div>
  <div >
    <div class="modal-body p-0">
      <div class="px-4 py-3">
        <h5 class="mb-3">Data Pasien</h5>
        <p>BPJS</p>
        <div class="form-check form-check-inline pr-3">
          <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isBpjs"  class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio" [value]=false>
          <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isBpjs"  class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio" [value]=false>
          <label class="form-check-label" for="bpjsRadio">Non BPJS</label>
        </div>
        <div class="form-check form-check-inline">
          <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isBpjs" class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio2" [value]=true>
          <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isBpjs" class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio2" [value]=true>
          <label class="form-check-label" for="bpjsRadio">BPJS</label>
        </div>
      </div>

      <div class="d-flex flex-wrap flex-row px-4 py-3">
        <div class="w-100 mb-2 mt-2" [ngClass]="!isFormValid && !model.name ? 'form-error' : ''">
          <label for="modality_label">Nama Pasien <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              required
              name="patientName"
              id="patientName"
              type="text"
              class="form-control"
              placeholder="Nama Pasien"
              [(ngModel)]="model.name"
            />
          </div>
        </div>
        <div class="w-50 my-2 pr-3" [ngClass]="!isFormValid && !model.birthDate ? 'form-error' : ''">
          <label for="modality_label">Tanggal Lahir <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              required
              name="patientDob"
              id="patientDob"
              type="text"
              class="form-control"
              placeholder="Tanggal Lahir"
              mask="00-00-0000"
              [dropSpecialCharacters]="false"
              [(ngModel)]="model.birthDate"
            />
          </div>
        </div>
        <div class="w-50 my-2" [ngClass]="!isFormValid && ( !model.identityTypeId || !model.identityNumber ) ? 'form-error' : ''">
          <label for="modality_label">Nomor Identitas <sup class="text-required">*</sup></label>
          <div class="input-group">
            <div class="id-type" >
              <select
                required
                placeholder="Jenis"
                name="nationalType"
                id="nationalType"
                #nationalType="ngModel"
                class="form-control national-type-id"
                [(ngModel)]="model.identityTypeId">
                <option class="text-muted" value="" selected hidden>Jenis</option>
                <option *ngFor="let type of nationalTypeIds" value="{{type.value}}">{{type.description}}</option>
              </select>
            </div>
            <input
              name="id-number"
              id="id-number-field"
              type="text"
              class="form-control"
              placeholder="Nomor Identitas"
              [(ngModel)]="model.identityNumber"
            />
          </div>
        </div>
        <div class="w-50 my-2 pr-3" [ngClass]="(!isFormValid && !model.phoneNumber1) || (!isFormValid && model.phoneNumber1 && !isValidHandphone(model.phoneNumber1)) ? 'form-error' : ''">
          <label for="modality_label">Nomor Telepon <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="telephone-number"
              id="telephone-number-field"
              type="text"
              class="form-control"
              placeholder="Nomor Telepon"
              [(ngModel)]="model.phoneNumber1"
            />
          </div>
        </div>
        <div class="w-50 my-2" [ngClass]="(!isFormValid && !model.emailAddress) || (!isFormValid && model.emailAddress && !isValidEmailAdress(model.emailAddress)) ? 'form-error' : ''">
          <label for="modality_label">Email <sup class="text-required">*</sup></label>
          <div class="input-group">
            <input
              name="patient-email"
              id="patient-email-field"
              type="text"
              class="form-control"
              placeholder="Alamat Email"
              [(ngModel)]="model.emailAddress"
            />
          </div>
        </div>
      </div>

      <!-- City, District, SubDistrict -->
      <!-- <div class="d-flex flex-wrap flex-row px-4 mb-3">
        <div class="w-50 my-2 pr-3">
          <label class="form-label">Jenis Kelamin <sup class="text-required">*</sup></label>
          <div>
            <ng-select
              [(ngModel)]="model.sexId"
              [items]="listSex"
              [clearable]="false"
              placeholder="Pilih Jenis Kelamin"
              bindLabel="description"
              bindValue="value"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
        <div class="w-50 my-2">
          <label class="form-label">Kota/Kab <sup class="text-required">*</sup></label>
          <div>
            <ng-select
              [(ngModel)]="model.cityId"
              [items]="listCity"
              [clearable]="false"
              placeholder="Pilih Kota/Kab"
              bindLabel="name"
              bindValue="city_id"
              class="x-form-control"
              (change)="getDistrict(model.cityId)">
            </ng-select>
          </div>
        </div>
        <div class="w-50 my-2 pr-3">
          <label class="form-label">Kecamatan <sup class="text-required">*</sup></label>
          <div>
            <ng-select
              [(ngModel)]="model.districtId"
              [items]="listDistrict"
              [clearable]="false"
              placeholder="Pilih Kecamatan"
              bindLabel="name"
              bindValue="district_id"
              class="x-form-control"
              (change)="getSubdistrict(model.districtId)">
            </ng-select>
          </div>
        </div>
        <div class="w-50 my-2">
          <label class="form-label">Kelurahan <sup class="text-required">*</sup></label>
          <div>
            <ng-select
              [(ngModel)]="model.subDistrictId"
              [items]="listSubdistrict"
              [clearable]="false"
              placeholder="Pilih Kelurahan"
              bindLabel="name"
              bindValue="subdistrict_id"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
         <div class="w-50 my-2 pr-3">
          <label class="form-label">Kewarganegaraan <sup class="text-required">*</sup></label>
          <div>
            <ng-select
              [(ngModel)]="model.nationalityId"
              [items]="listCountry"
              [clearable]="false"
              placeholder="Pilih Kewarganegaraan"
              bindLabel="name"
              bindValue="country_id"
              class="x-form-control">
            </ng-select>
          </div>
        </div>
      </div> -->

      <div class="d-flex flex-wrap flex-row px-4">
        <h5 class="w-100">Modality</h5>
        <div class="w-100" *ngIf="showModalityList">
          <div *ngFor="let list of modalityAppointmentList; index as i"
            [attr.class]="list.isSuccess ? 'alert alert-success border border-radius-custom mb-3 p-0' : 'border border-radius-custom mb-3'">
            <div class="d-flex flex-wrap align-items-center" >
              <div class="w-25 border-right">
                <div class="mx-3 my-2">{{list.modality_label}} - ROOM {{list.room_name}}</div>
              </div>
              <div class="w-50 pl-2 my-2">
                <div class="mx-3 my-2">
                  <div class="d-flex align-items-center">
                    <div alt="datepicker">
                      <i class="fa fa-calendar-o mx-2"></i>
                    </div>
                    <div class="position-relative" style="width: 230px;">
                      <div class="modality-form text-left text-muted text-custom pl-2 border-right">
                        {{list.reserveDate}}
                      </div>
                    </div>
                    <div class="ml-2" alt="datepicker">
                      <i class="fa fa-clock-o mx-2"></i>
                    </div>
                    <div class="position-relative" style="width: 50px;">
                      <div class="modality-form text-left text-muted text-custom">
                        {{list.fromTime}}&nbsp;
                      </div>
                    </div>
                    <span class="mx-2" >-</span>
                    <div class="position-relative" style="width: 50px;">
                      <div class="modality-form text-left text-muted text-custom">
                        {{list.toTime}}&nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-25">
                <div *ngIf="!list.isSuccess" class="d-flex justify-content-end mr-2">
                  <button (click)="onEditModality(i)" type="button" class="btn text-primary text-custom">Edit</button>
                  <button (click)="onDeleteModality(list)" type="button" class="btn text-primary text-custom">Hapus</button>
                </div>
              </div>
            </div>
            <div *ngIf="list.isLoading" class="text-center mx-3 mb-2" >
              <app-loading [width]="20" class="mt-0" showLoad="true"></app-loading>
            </div>
            <div *ngIf="!list.isSuccess && !list.isLoading" class="text-danger mx-3 mb-2" >
              {{ list.messageError }}
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap flex-row px-4 py-3">
        <div class="w-100 border border-radius-custom d-flex flex-wrap flex-row">
          <div class="w-25 my-3 border-right">
            <div class="mx-3 mb-3">
              <label for="modality_label">Modality <sup class="text-required">*</sup></label>
              <div class="input-group">
                <select
                  *ngIf="!edittedModality.modalityHospitalId"
                  [(ngModel)]="selectedModality.modalityHospitalId" (ngModelChange)="onChangeModality()"
                  class="form-control"
                  [compareWith]="compareByModalityHospital"
                  required
                  name="selectedModalityHospitalId"
                  >
                  <option *ngFor="let type of modalityHospitalList"
                  [value]="type.modality_hospital_id"
                    >{{type.modality_label}} - ROOM {{type.room_name}}
                  </option>
                </select>
                <select
                  *ngIf="edittedModality.modalityHospitalId"
                  [(ngModel)]="edittedModality.modalityHospitalId" (ngModelChange)="onChangeModality()"
                   class="form-control"
                  required
                  name="edittedModalityHospitalId"
                  >
                  <option *ngFor="let type of modalityHospitalList" [value]="type.modality_hospital_id">{{type.modality_label}} - ROOM {{type.room_name}}</option>
                </select>
              </div>
            </div>

            <div class="mx-3 my-3">
              <label for="examination">Jenis Pemeriksaan <sup class="text-required">*</sup></label>
              <div class="input-group">
                <select [disabled]="isExaminationButtonDisabled"
                  *ngIf="!edittedModality.modalityHospitalId"
                  class="form-control national-type-id"
                  [(ngModel)]="selectedModality.modalityExaminationId"
                  required
                  name="selectedModalityExaminationId"
                  id="selectedModalityExaminationId"
                  #selectedModalityExaminationId="ngModel">
                  <option class="text-muted" value="" selected hidden>Pilih jenis pemeriksaan</option>
                  <option *ngFor="let type of examinationsList"
                    [value]="type.modality_examination_id"
                    >
                    {{type.name}}
                  </option>
                </select>
                <select [disabled]="isExaminationButtonDisabled"
                  *ngIf="edittedModality.modalityHospitalId"
                  class="form-control national-type-id"
                  [(ngModel)]="edittedModality.modalityExaminationId"
                  required
                  name="national-type"
                  id="edittedModalityExaminationId"
                  #edittedModalityExaminationId="ngModel">
                  <option *ngFor="let type of examinationsList"
                    [selected]="type.modality_examination_id === edittedModality.modalityExaminationId"
                    [value]="type.modality_examination_id"
                    >
                    {{type.name}}
                  </option>
                </select>
              </div>
              <div *ngIf="isEditing() ? !edittedModality.modalityExaminationId : !selectedModality.modalityExaminationId "
                    class="form-text text-danger">Harus diisi</div>
            </div>

            <div class="mx-3 my-3">
              <p>Anestesi</p>
              <div class="form-check form-check-inline pr-3">
                <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=false>
                <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=false>
                <label class="form-check-label" for="anesthesa">Tidak</label>
              </div>
              <div class="form-check form-check-inline">
                <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=true>
                <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=true>
                <label class="form-check-label" for="anesthesa">Ya</label>
              </div>
            </div>
          </div>

          <div class="w-75 pl-2 my-3">
            <div class="mx-3 mb-2 ">
              <label for="">Tanggal dan Waktu</label>
              <div class="d-flex align-items-center">
                <div alt="datepicker">
                  <i class="fa fa-calendar-o mx-2"></i>
                </div>
                <app-date-picker
                  *ngIf="!edittedModality.modalityHospitalId"
                  format="dddd, DD MMMM YYYY" hideIcon=true [noBorder]=true
                  [isModalLarge]=true
                  width="230px"
                  [(value)]="selectedModality.reserveDate"
                  [onChange]="onChangeDate">
                </app-date-picker>
                <app-date-picker
                  *ngIf="edittedModality.modalityHospitalId"
                  format="dddd, DD MMMM YYYY" hideIcon=true [noBorder]=true
                  [isModalLarge]=true
                  width="230px"
                  [(value)]="edittedModality.reserveDate"
                  [onChange]="onChangeDate">
                </app-date-picker>

                <div>
                  <div class="d-flex align-items-center" >
                    <div class="ml-2" alt="datepicker">
                      <i class="fa fa-clock-o mx-2"></i>
                    </div>
                    <app-time-picker
                      *ngIf="!edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="selectedModality.fromTime"
                      [duration]="selectedModality.duration"
                      [onChange]="onChangeTimer" >
                    </app-time-picker>
                    <app-time-picker
                      *ngIf="edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="edittedModality.fromTime"
                      [duration]="edittedModality.duration"
                      [onChange]="onChangeTimer" >
                    </app-time-picker>&nbsp;

                    <span class="mr-2 ml-1" >-</span>
                    <app-time-picker
                      *ngIf="!edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="selectedModality.toTime"
                      [duration]="selectedModality.duration"
                      [onChange]="onChangeTimer" >
                    </app-time-picker>
                    <app-time-picker
                      *ngIf="edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="edittedModality.toTime"
                      [duration]="edittedModality.duration"
                      [onChange]="onChangeTimer" >
                    </app-time-picker>&nbsp;
                  </div>
                  <div class="text-danger ml-2" *ngIf="isErrorTimer" >Waktu mulai tidak sesuai denga waktu selesai.</div>
                </div>

              </div>
            </div>

            <div class="mx-3 my-2">
              <label for="appointment_notes">Catatan</label>
              <div>
                <textarea name="notes" *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.notes" rows="5" class="form-control rounded" placeholder="Catatan Pasien"></textarea>
                <textarea name="notes" *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.notes" rows="5" class="form-control rounded" placeholder="Catatan Pasien"></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="showModalityList" class="d-flex justify-content-end w-100 p-0 mb-3 mr-3">
            <button (click)="cancelModality()" class="btn btn-secondary text-primary" type="reset" style="width: 7%;">Batal</button>
            <button *ngIf="!edittedModality.modalityHospitalId" (click)="addModalityToList()" class="btn btn-primary ml-3" type="button" style="width: 7%;" [disabled]="formModalityValidation()" >Simpan</button>
            <button *ngIf="edittedModality.modalityHospitalId" (click)="editModalityToList()" class="btn btn-primary ml-3" type="button" style="width: 7%;" [disabled]="formModalityValidation()" >Ubah</button>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100 py-3">
          <button (click)="onAddedModality()" type="button" class="btn text-primary font-weight-bold">+ Tambah Modality</button>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="d-flex flex-row justify-content-end">
        <button (click)="onCreateAppointment()" type="submit" class="btn btn-success ml-2" [disabled]="isSubmitting || (this.modalityAppointmentList.length === 0 && formModalityValidation())" >Jadwalkan Pasien</button>
      </div>
    </div>
  </div>

</div>
