<div class="position-relative" [style.width]="width" >
  <img *ngIf="!hideIcon" src="/assets/icons/ic_datepicker.png" class="position-absolute icon-datepicker" alt="datepicker" />
  <img *ngIf="!hideIconTwo" src="/assets/icons/ic_datepicker.png" class="position-absolute icon-datepicker" alt="datepicker" />
  <input type="text"
    ngxDaterangepickerMd
    [locale]="locale"
    [value]="value.format(format)"
    (change)="changeSelected($event)"
    [singleDatePicker]="true"
    [autoApply]="true"
    [showDropdowns]="true"
    opens="left"
    class="form-control text-center"
    [class.border-0]="noBorder"
    [class.pl-4]="!hideIcon"
    [class.px-4]="!hideIconTwo" />
</div>
