<div class="modal-content" style="width: 800px;">
   <div class="modal-header">
      <div class="header">
         Modality
      </div>
      <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <div class="modal-body">
      <ng-container>
         <div class="formclass">
         <div class="mb-3 px-3">
            <h4>New Radiology Modality</h4>
         </div>
         <div class="mb-3 px-3">
            <label for="">Modality Name</label>
            <div>
               <input type="text" class="form-control input-lg" placeholder="Type modality name" />
            </div>
         </div>
         
        
         <div class="d-flex flex-wrap flex-row px-3">
            <div class="mb-3 w-30">
               <label for="" class="text-muted" >Schdule Type</label>
            </div>
         </div>
         <div class="d-flex flex-wrap flex-row px-3">
            <div class="w-15 p-3">
               <div>
               <input type="radio" class="form-control" style="width: 80px;margin-left:-30px;margin-top:-5px" >
               </div>
            </div>
          
            <div class="w-75 p-3">
               <div>
                  <label style="margin-left: -40px;"> Fixed Appointment</label>
                  <input type="select" class="form form-control" style="margin-left: -40px;">
               </div>
            </div>
         </div>
         <div class="d-flex flex-wrap flex-row px-3">
            <div class="w-15 p-3">
               <div>
               <input type="radio" class="form-control" style="width: 80px;margin-left:-30px;margin-top:-5px" >
               </div>
            </div>
          
            <div class="w-75 p-3">
               <div>
                  <label style="margin-left: -40px;">Fixed Appointment</label>
               </div>
            </div>
         </div>
         <div class="mb-3 px-3">
            <label for="">Room</label>
            <div>
               <input type="text" class="form-control input-lg" placeholder="Type modality name" />
            </div>
         </div>

         <div class="mb-3 px-3">
            <label for="">Note</label>
            <div>
               <input type="text" class="form-control input-lg" placeholder="Type modality name" />
            </div>
         </div>
        
         </div>
      </ng-container>
   </div>
   <div class="modal-footer">
   <div class="d-flex flex-row justify-content-end">
      <button class="btn btn-default ml-2">Reset</button>
      <button class="btn btn-primary ml-2">Save</button>
   </div>
  </div>
</div>
