<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  <div class="fo_menu_container">
      <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block" >
    <div class="box bg-white">
      <div class="header-radiology-schedule" >
        <div class="row border-bottom">
          <div class="col-md-3">
            <h3 class="p-3 ">
              Modality Master
            </h3>
          </div>
          <div class="col-md-7 justify-content-end">

          </div>
          <div class="col-md-2 justify-content-end">
            <h3 class="p-3">
              <button class="btn btn-primary ml-2" (click)="showModalityModal()">+ Add New Modality</button>
            </h3>
          </div>
        </div>
        <div class="px-3 border-bottom" >
          <div class="row border-bottom" >
            <div class="col-md-3 position-relative pr-0 border-right">
              <input class="form-control pt-3 input-filter pr-4" type="text" placeholder="Find Modality"
                title="Find patients" />
              <span class="fa fa-search position-absolute"></span>
            </div>
            <!-- <div class="col-md-2 position-relative pr-0 border-right" >
                <ul class="list-group" (mouseover)="clickedComponentList=true" >
                  <li class="list-group-item"   style="border: 0px !important;">
                    <input class="form-control pt-3 input-filter pr-4" type="text" value="{{checkedList}}" placeholder="Schedule Type"
                title="Find patients" />
                  </li>
                </ul>
                <ul class="list-group" *ngIf="clickedComponentList" style="position: absolute;" >
                  <li class="list-group-item" *ngFor="let item of checklist" >
                    <input (mouseout)="clickedComponentList=false" type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                      (change)="isAllSelected()" />
                    {{item.value}}
                  </li>
                </ul>
            </div>
            <div class="col-md-2 position-relative pr-0 border-right" >
              <ul class="list-group" (mouseover)="clickedComponentList=true" >
                <li class="list-group-item"   style="border: 0px !important;">
                  <input class="form-control pt-3 input-filter pr-4" type="text" value="{{checkedList}}" placeholder="Schedule Type"
              title="Find patients" />
                </li>
              </ul>
              <ul class="list-group" *ngIf="clickedComponentList" style="position: absolute;" >
                <li class="list-group-item" *ngFor="let item of checklist" >
                  <input (mouseout)="clickedComponentList=false" type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                    (change)="isAllSelected()" />
                  {{item.value}}
                </li>
              </ul>
          </div>
            <div class="col-md-2 position-relative pr-0 border-right" >
              <ul class="list-group" (mouseover)="clickedComponentList=true" >
                <li class="list-group-item"   style="border: 0px !important;">
                  <input class="form-control pt-3 input-filter pr-4" type="text" value="{{checkedList}}" placeholder="Schedule Type"
              title="Find patients" />
                </li>
              </ul>
              <ul class="list-group" *ngIf="clickedComponentList" style="position: absolute;" >
                <li class="list-group-item" *ngFor="let item of checklist" >
                  <input (mouseout)="clickedComponentList=false" type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
                    (change)="isAllSelected()" />
                  {{item.value}}
                </li>
              </ul>
          </div> -->
            
          </div>
          <table class="table table-borderless table-stripped" id="appointment-list-table">
            <thead class="fo_color_blue foot-note table-sticky">
              <th style="min-width: 10em">
                Modality Name
              </th>
              <th style="min-width: 10em">
                Modality Label
              </th>
              <th>Schdule Type</th>
              <th width="100px" style="text-align: left">Floor</th>
              <th width="100px" style="text-align: left">Room</th>
              <th width="100px" style="text-align: left">Dur (min)</th>
              <th class="text-center" width="100px">Status</th>
              <th class="pr-3" style="text-align: right; min-width: 10em;">Action</th>
              <th width="50px"></th>
            </thead>
        
            <tbody>
              <tr *ngFor="let item of operationals.data; let i = index">
                <td>{{item.modality_name}}</td>
                <td>{{item.modality_label}}</td>
                <td>{{item.operational_type_label}}</td>
                <td style="text-align: left">{{item.room.floor_name}}</td>
                <td style="text-align: left">{{item.room.name}}</td>
                <td style="text-align: left">{{item.operational_type == 3 ? item.duration : '-'}}</td>
                <td>
                  <span *ngIf="item.status == 1" class="modality-status status-scheduled">Active</span>
                  <span *ngIf="item.status == 2" class="modality-status status-arrived">Inactive</span>
                </td>
                <td class="pr-3" style="text-align: right">
                  <a class="detailed-button" (click)="showModalityModal(item)">Detail</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
