
<table class="table table-bordered mt-3 table-list-radiology">
  <thead class="border-0 bg-secondary">
    <tr>
      <td colspan="2" class="py-3 border-0">Jadwal Tindakan</td>
      <td class="py-3 border-0">Pasien</td>
      <td class="py-3 border-0">Tgl. Lahir</td>
      <td class="py-3 border-0">No. Mr Lokal</td>
      <td class="py-3 border-0">Jenis Pemeriksaan</td>
      <td class="py-3 border-0">BPJS</td>
      <td class="py-3 border-0">No. Kunjungan</td>
      <td class="py-3 border-0">Status</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isLoadingSection; else showList">
      <tr><td colspan="100%" class="text-center p-3">Memuat Data... Mohon Tunggu...</td></tr>
    </ng-container>

    <ng-container *ngIf="!(scheduleList && scheduleList.length) && !isLoadingSection" >
      <tr>
        <td colspan="100%" class="text-center p-3">Tidak ada data pada pilihan Modality ini</td>
      </tr>
    </ng-container>

    <app-loading [showLoad]="isLoading" ></app-loading>

    <ng-template #showList>
    <ng-container *ngFor="let item of scheduleList; let i=index" >
      <tr *ngFor="let schedule of item.items; let j = index;" class="item-hover" >
        <td *ngIf="j % item.rowSpan == 0" [attr.rowspan]="item.rowSpan" style="vertical-align: middle; width: 25px; background: #fff !important;" class="text-right">
          {{ item.hour }}
        </td>
        <td style="width: 100px; vertical-align: middle;">{{ schedule.fromTime + ' - ' + schedule.toTime }}</td>
        <ng-container *ngIf="schedule.rowSpan">
          <td *ngIf="schedule.isPast && !schedule.patient; else showAvailable"
            class="item-hover">
            <span *ngIf="schedule.isPast" class="text-danger" style="cursor: default;">Not Available</span>
          </td>
          <ng-template #showAvailable>
            <td [attr.rowspan]="schedule.rowSpan"
            (click)="isRowScheduled(schedule) ? detailSchedule(schedule) : createAppointment(schedule)"
            [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled cursor-pointer item-indicator-primary' : 'cursor-pointer'" >
            <span [class.text-success]="!schedule.patient"  >
              {{ schedule.patient || 'Tersedia' }}
            </span>
            </td>
          </ng-template>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.dob }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.localMrNo }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.examination }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.isBpjs ? 'BPJS' : 'Non BPJS' }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.patinet_visit_number }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >
            <span *ngIf="scheduleStatus[schedule.status]" [ngClass]="'table-status status-' + scheduleStatus[schedule.status].toLowerCase() ">
              {{ scheduleStatus[schedule.status] }}
            </span>
          </td>
        </ng-container>
      </tr>
    </ng-container>
    </ng-template>

  </tbody>
</table>
