<table class="table table-bordered mt-3 table-list-radiology">
  <thead class="border-0 bg-secondary">
    <tr>
      <td colspan="2" class="py-3 border-0">Appointment</td>
      <td class="py-3 border-0">Patient</td>
      <td class="py-3 border-0">DoB</td>
      <td class="py-3 border-0">Local MR No</td>
      <td class="py-3 border-0">Examination</td>
      <td class="py-3 border-0">Note</td>
      <td class="py-3 border-0">Status</td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!(scheduleList && scheduleList.length)">
      <tr>
        <td colspan="100%" class="text-center p-3">No data from this section</td>
      </tr>
    </ng-container>

    <ng-container *ngFor="let item of scheduleList; let i=index" >
<!--      <tr *ngFor="let item of data; let i=index" class="item-hover">-->
<!--        <td *ngIf="i%2==0" rowspan="2" style="vertical-align: middle; width: 25px; background: #fff !important;" class="text-right">-->
<!--          {{(item.rowIndex).toString().padStart(2, '0')}}</td>-->
<!--        &lt;!&ndash; <td>{{item.timeSlot}}</td> &ndash;&gt;-->
<!--        <td style="width: 100px;">{{item.timeSlotFrom}} - {{item.timeSlotTo}}</td>-->
<!--        <ng-container *ngIf="!item.isCanCreate && !item.isSpan && item.status !== 'note'" >-->
<!--          <td [attr.rowspan]="item.rowspan || 1"-->
<!--              class="table-td table-td-scheduled cursor-pointer item-indicator-primary"-->
<!--              (click)="detailSchedule()" >-->
<!--            <div>{{item.patient}}</div>-->
<!--          </td>-->
      <tr *ngFor="let schedule of item; let j = index;" class="item-hover" >
        <td *ngIf="j % 2 == 0" rowspan="2" >
          {{ ('0' + i).slice(-2) }}
        </td>
        <td>{{ schedule.fromTime + ' - ' + schedule.toTime }}</td>
        <ng-container *ngIf="schedule.rowSpan">
          <td [attr.rowspan]="schedule.rowSpan"
            (click)="isRowScheduled(schedule) ? detailSchedule() : createAppointment()"
            [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled cursor-pointer item-indicator-primary' : 'cursor-pointer'" >
            <span [class.text-success]="!schedule.patient"  >
              {{ schedule.patient || 'Tersedia' }}
            </span>
          </td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.dob }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.localMrNo }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.examination }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >{{ schedule.note }}</td>
          <td [attr.rowspan]="schedule.rowSpan" [ngClass]="isRowScheduled(schedule) ? 'table-td table-td-scheduled' : '' " >
            <span *ngIf="scheduleStatus[schedule.status]" [ngClass]="'table-status status-' + scheduleStatus[schedule.status].toLowerCase() ">
              {{ scheduleStatus[schedule.status] }}
            </span>
          </td>
        </ng-container>
      </tr>
    </ng-container>

  </tbody>
</table>
