<div class="modal-content modal-extralarge-size">
  <div class="modal-header-custom px-0">
    <div class="d-flex flex-wrap justify-content-between px-4">
      <div class="align-self-center">
        <h4 class="m-0 font-weight-bold">Jadwalkan Pasien</h4>
      </div>
      <div>
        <button type="button" #close_button type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
          <span class="back-button" aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal-header-custom px-0 py-0 border-bottom-0 border-0">
    <div *ngIf="alertMap[defaultAlertKey]" class="modal-header-custom px-0">
      <div *ngFor="let alert of alertMap[defaultAlertKey]">
        <ngb-alert class="alert-message" *ngIf="alert" type="{{alert.typeName}}" (close)="removeAlert(alert)">{{ alert.message }}
        </ngb-alert>
      </div>
    </div>
  </div>
  <div >
    <div class="modal-body p-0">
      <div class="px-4 py-3">
        <h5 class="mb-3">Data Pasien</h5>
        <p>BPJS</p>
        <div class="form-check form-check-inline pr-3">
          <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isBpjs"  class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio" [value]=false>
          <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isBpjs"  class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio" [value]=false>
          <label class="form-check-label" for="bpjsRadio">Non BPJS</label>
        </div>
        <div class="form-check form-check-inline">
          <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isBpjs" class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio2" [value]=true>
          <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isBpjs" class="form-check-input" type="radio" name="bpjsRadio" id="bpjsRadio2" [value]=true>
          <label class="form-check-label" for="bpjsRadio">BPJS</label>
        </div>
      </div>

      <div class="d-flex flex-wrap flex-row border px-3">
        <div class="w-34">
          <form (submit)="getSearchedNameDob($event)">
            <div class="d-flex flex-wrap py-3 flex-row border-right mr-3" >
              <div class="w-25">
                <label class="pl-1" for="patient-dob-search">Tanggal Lahir</label>
                <input
                  name="birth-date"
                  class="form-control border-0 pl-1"
                  id="patient-dob-search"
                  placeholder="DD-MM-YYYY"
                  type="text"
                  mask="00-00-0000"
                  [(ngModel)]="search.birthDate"
                  [dropSpecialCharacters]="false"
                  #birthDate
                >
              </div>

              <div class="w-75 pl-3">
                <label class="pl-1" for="patient-name-search">Nama Pasien</label>
                <div class="d-flex flex-row">
                  <input
                  minlength="3"
                  name="patient-name-search"
                  [(ngModel)]="search.patientName"
                  [style.width]="'80%'"
                  class="form-control border-0 pl-1"
                  id="patient-name-search"
                  placeholder="Nama Pasien"
                  type="text"
                  >
                  <div [style.width]="'15%'" class="align-self-center text-right">
                    <button class="btn border-0" type="submit">
                      <span class="fa fa-lg fa-search text-muted"></span>
                    </button>
                  </div>
                   <div [style.width]="'5%'">
                  </div>
                </div>

              </div>
            </div>
          </form>
        </div>

        <div class="w-33 border-right">
          <form (submit)="getSearchedMrLocal($event)">
            <div class="d-flex flex-wrap py-3 flex-row">
              <div class="w-100">
                <label class="pl-1" for="local-mr-search">Nomor MR Local</label>
                <div class="d-flex flex-row">
                  <input
                  name="local-mr-search"
                  [(ngModel)]="search.mrLocalNo"
                  [style.width]="'83%'"
                  class="form-control border-0 pl-1"
                  id="patient-localmr-field"
                  placeholder="Cari No. MR lokal pasien"
                  type="number"
                  >
                  <div [style.width]="'12%'" class="align-self-center text-right">
                    <button class="btn border-0" type="submit">
                      <span class="fa fa-lg fa-search text-muted"></span>
                    </button>
                  </div>
                  <div [style.width]="'5%'"></div>
                </div>

              </div>
            </div>
          </form>
        </div>

        <div class="w-33">
          <form (submit)="getSearchedIdNumber($event)">
            <div class="d-flex flex-wrap py-3 flex-row pl-3">
              <div class="w-100">
                <label for="identity_no_search" class="pl-1">Nomor Identitas</label>
                <div class="d-flex flex-row">
                  <div class="input-group" [style.width]="'80%'">
                    <div class="id-type" >
                      <select placeholder="ID Number" name="national-type" class="form-control national-type-id border-0 pl-1" [(ngModel)]="search.nationalIdTypeId">
                        <option class="text-muted" value="" selected hidden>Jenis</option>
                        <option *ngFor="let type of nationalTypeIds" value="{{type.value}}">{{type.description}}</option>
                      </select>
                    </div>
                    <input
                      name="id-number"
                      id="id-number-field"
                      type="text"
                      class="form-control border-0 ml-3"
                      placeholder="Nomor Identitas"
                      [(ngModel)]="search.idNumber"
                    />
                  </div>
                  <div [style.width]="'15%'" class="align-self-center text-right">
                    <button class="btn border-0" type="submit">
                      <span class="fa fa-lg fa-search text-muted"></span>
                    </button>
                  </div>
                  <div [style.width]="'5%'"></div>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="px-4 py-2 table-responsive">
        <table class="table borderless mt-3 table-list-radiology">
          <thead class="border-0 bg-secondary">
            <tr>
              <td class="py-3 border-0"></td>
              <td class="py-3 border-0">Pasien</td>
              <td class="py-3 border-0">Tgl Lahir</td>
              <td class="py-3 border-0">No. MR Lokal</td>
              <td class="py-3 border-0">No. Identitas</td>
              <td class="py-3 border-0">No. Telepon</td>
              <td class="py-3 border-0">Email</td>
              <td class="py-3 border-0">Alamat</td>
            </tr>
          </thead>

          <tbody class="tbody-custom">
            <ng-container *ngIf="!isLoadingPatientTable && showPatientTable === '2'">
              <tr *ngFor="let patient of patientHope; let i = index;"
                class="item-hover"
                [ngClass]="{'bg-primary' : isSelectedPatient === patient, '': isSelectedPatient !== patient}"
                >
                <td>
                  <div class="form-check">
                    <input type="radio" [(ngModel)]="isSelectedPatient" class="form-check-input" id="radio2" name="optradio" [value]="patient">
                  </div>
                </td>
                <td>{{ patient.name}}</td>
                <td>{{ patient.birthDate}}</td>
                <td>
                  <ng-template *ngTemplateOutlet="localMrTemplate; context: {$implicit: patient, 'index': i}"></ng-template>
                </td>
                <td>{{ patient.nationalIdNo}}</td>
                <td>{{ patient.mobileNo1}}</td>
                <td>{{ patient.emailAddress}}</td>
                <td>{{ patient.address}}</td>
              </tr>
          </ng-container>
          </tbody>
        </table>
        <div *ngIf="isLoadingPatientTable" class="text-center">
          <p class="text-muted">Memuat ..</p>
        </div>
        <div *ngIf="!isLoadingPatientTable && showPatientTable === '0'" class="text-center">
          <p class="text-muted">Belum ada Data Pasien untuk ditampilkan.</p>
        </div>
        <div *ngIf="!isLoadingPatientTable && showPatientTable === '1'" class="text-center">
          <img src="/assets/icons/ic_file_img.svg" alt="image">
          <p class="text-muted">Data Pasien tidak ditemukan periksa kembali data yang anda masukkan atau,</p>
          <button type="button" class="btn btn-primary"><span class="fa fa-plus"></span> Daftar Sebagai Pasien Baru</button>
        </div>
      </div>

      <ng-template #localMrTemplate let-patient>
        <p *ngFor="let x of patient.patientHospitals">
          {{x.mrNoUnit || '-'}}
        </p>
      </ng-template>

      <div class="d-flex flex-wrap flex-row px-4">
        <h5 class="w-100">Modality</h5>
        <div class="w-100" *ngIf="showModalityList">
          <div *ngFor="let list of modalityAppointmentList; index as i"
            [attr.class]="list.isSuccess ? 'alert alert-success border border-radius-custom mb-3 p-0' : 'border border-radius-custom mb-3'">
            <div class="d-flex flex-wrap align-items-center" >
              <div class="w-25 border-right">
                <div class="mx-3 my-2">{{list.modality_label}} - ROOM {{list.room_name}}</div>
              </div>
              <div class="w-50 pl-2 my-2">
                <div class="mx-3 my-2">
                  <div class="d-flex align-items-center">
                    <div alt="datepicker">
                      <i class="fa fa-calendar-o mx-2"></i>
                    </div>
                    <div class="position-relative" style="width: 230px;">
                      <div class="modality-form text-left text-muted text-custom pl-2 border-right">
                        {{list.reserveDate}}
                      </div>
                    </div>
                    <div class="ml-2" alt="datepicker">
                      <i class="fa fa-clock-o mx-2"></i>
                    </div>
                    <div class="position-relative" style="width: 50px;">
                      <div class="modality-form text-left text-muted text-custom">
                        {{list.fromTime}}&nbsp;
                      </div>
                    </div>
                    <span class="mx-2" >-</span>
                    <div class="position-relative" style="width: 50px;">
                      <div class="modality-form text-left text-muted text-custom">
                        {{list.toTime}}&nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-25">
                <div *ngIf="!list.isSuccess" class="d-flex justify-content-end mr-2">
                  <button (click)="onEditModality(i)" type="button" class="btn text-primary text-custom">Edit</button>
                  <button (click)="onDeleteModality(list)" type="button" class="btn text-primary text-custom">Hapus</button>
                </div>
              </div>
            </div>
            <div *ngIf="list.isLoading" class="text-center mx-3 mb-2" >Memuat ..</div>
            <div *ngIf="!list.isSuccess && !list.isLoading" class="text-danger mx-3 mb-2" >
              {{ list.messageError }}
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap flex-row px-4 py-3">
        <div class="w-100 border border-radius-custom d-flex flex-wrap flex-row">
          <div class="w-25 my-3 border-right">
            <div class="mx-3 mb-3">
              <label for="modality_label">Modality <sup class="text-required">*</sup></label>
              <div class="input-group">
                <select
                  *ngIf="!edittedModality.modalityHospitalId"
                  [(ngModel)]="selectedModality.modalityHospitalId" (ngModelChange)="onChangeModality()"
                  class="form-control"
                  [compareWith]="compareByModalityHospital"
                  required
                  name="selectedModalityHospitalId"
                  >
                  <option *ngFor="let type of modalityHospitalList"
                  [value]="type.modality_hospital_id"
                    >{{type.modality_label}} - ROOM {{type.room_name}}
                  </option>
                </select>
                <select
                  *ngIf="edittedModality.modalityHospitalId"
                  [(ngModel)]="edittedModality.modalityHospitalId" (ngModelChange)="onChangeModality()"
                   class="form-control"
                  required
                  name="edittedModalityHospitalId"
                  >
                  <option *ngFor="let type of modalityHospitalList" [value]="type.modality_hospital_id">{{type.modality_label}} - ROOM {{type.room_name}}</option>
                </select>
              </div>
            </div>

            <div class="mx-3 my-3">
              <label for="examination">Jenis Pemeriksaan <sup class="text-required">*</sup></label>
              <div class="input-group">
                <select [disabled]="isExaminationButtonDisabled"
                  *ngIf="!edittedModality.modalityHospitalId"
                  class="form-control national-type-id"
                  [(ngModel)]="selectedModality.modalityExaminationId"
                  required
                  name="selectedModalityExaminationId"
                  id="selectedModalityExaminationId"
                  #selectedModalityExaminationId="ngModel">
                  <option class="text-muted" value="" selected hidden>Pilih jenis pemeriksaan</option>
                  <option *ngFor="let type of examinationsList"
                    [value]="type.modality_examination_id"
                    >
                    {{type.name}}
                  </option>
                </select>
                <select [disabled]="isExaminationButtonDisabled"
                  *ngIf="edittedModality.modalityHospitalId"
                  class="form-control national-type-id"
                  [(ngModel)]="edittedModality.modalityExaminationId"
                  required
                  name="national-type"
                  id="edittedModalityExaminationId"
                  #edittedModalityExaminationId="ngModel">
                  <option *ngFor="let type of examinationsList"
                    [selected]="type.modality_examination_id === edittedModality.modalityExaminationId"
                    [value]="type.modality_examination_id"
                    >
                    {{type.name}}
                  </option>
                </select>
              </div>
              <div *ngIf="isEditing() ? !edittedModality.modalityExaminationId : !selectedModality.modalityExaminationId "  
                    class="form-text text-danger">Harus diisi</div>
            </div>

            <div class="mx-3 my-3">
              <p>Anestesi</p>
              <div class="form-check form-check-inline pr-3">
                <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=false>
                <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=false>
                <label class="form-check-label" for="anesthesa">Tidak</label>
              </div>
              <div class="form-check form-check-inline">
                <input *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=true>
                <input *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.isAnesthesia" class="form-check-input" type="radio" name="anesthesa" id="anesthesa" [value]=true>
                <label class="form-check-label" for="anesthesa">Ya</label>
              </div>
            </div>
          </div>

          <div class="w-75 pl-2 my-3">
            <div class="mx-3 mb-2 ">
              <label for="">Tanggal dan Waktu</label>
              <div class="d-flex align-items-center">
                <div alt="datepicker">
                  <i class="fa fa-calendar-o mx-2"></i>
                </div>
                <app-date-picker
                  *ngIf="!edittedModality.modalityHospitalId"
                  format="dddd, DD MMMM YYYY" hideIcon=true [noBorder]=true
                  [isModalLarge]=true
                  width="230px"
                  [(value)]="selectedModality.reserveDate"
                  [onChange]="onChangeDate">
                </app-date-picker>
                <app-date-picker
                  *ngIf="edittedModality.modalityHospitalId"
                  format="dddd, DD MMMM YYYY" hideIcon=true [noBorder]=true
                  [isModalLarge]=true
                  width="230px"
                  [(value)]="edittedModality.reserveDate"
                  [onChange]="onChangeDate">
                </app-date-picker>
                
                <div>
                  <div class="d-flex align-items-center" >
                    <div class="ml-2" alt="datepicker">
                      <i class="fa fa-clock-o mx-2"></i>
                    </div>
                    <app-time-picker
                      *ngIf="!edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="selectedModality.fromTime"
                      [duration]="selectedModality.duration" >
                    </app-time-picker>
                    <app-time-picker
                      *ngIf="edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="edittedModality.fromTime"
                      [duration]="edittedModality.duration" >
                    </app-time-picker>&nbsp;

                    <span class="mr-2 ml-1" >-</span>
                    <app-time-picker
                      *ngIf="!edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="selectedModality.toTime"
                      [duration]="selectedModality.duration" >
                    </app-time-picker>
                    <app-time-picker
                      *ngIf="edittedModality.modalityHospitalId"
                      [isModalLarge]=true
                      [noBorder]=true
                      [(value)]="edittedModality.toTime"
                      [duration]="edittedModality.duration" >
                    </app-time-picker>&nbsp;
                  </div>
                  <div class="text-danger" >Waktu mulai tidak sesuai denga waktu selesai.</div>
                </div>
                
              </div>
            </div>

            <div class="mx-3 my-2">
              <label for="appointment_notes">Catatan</label>
              <div>
                <textarea name="notes" *ngIf="!edittedModality.modalityHospitalId" [(ngModel)]="selectedModality.notes" rows="5" class="form-control rounded" placeholder="Catatan Pasien"></textarea>
                <textarea name="notes" *ngIf="edittedModality.modalityHospitalId" [(ngModel)]="edittedModality.notes" rows="5" class="form-control rounded" placeholder="Catatan Pasien"></textarea>
              </div>
            </div>
          </div>

          <div *ngIf="showModalityList" class="d-flex justify-content-end w-100 p-0 mb-3 mr-3">
            <button (click)="cancelModality()" class="btn btn-secondary text-primary" type="reset" style="width: 7%;">Batal</button>
            <button *ngIf="!edittedModality.modalityHospitalId" (click)="addModalityToList()" class="btn btn-primary ml-3" type="button" style="width: 7%;">Simpan</button>
            <button *ngIf="edittedModality.modalityHospitalId" (click)="editModalityToList()" class="btn btn-primary ml-3" type="button" style="width: 7%;">Ubah</button>
          </div>
        </div>
        <div class="d-flex justify-content-end w-100 pt-3 pb-5">
          <button (click)="onAddedModality()" type="button" class="btn text-primary font-weight-bold" [disabled]="!isSelectedPatient">+ Tambah Modality</button>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="d-flex flex-row justify-content-end">
        <button (click)="onCreateAppointment()" type="submit" class="btn btn-success ml-2" [disabled]="isSubmitting || !isSelectedPatient" >Jadwalkan Pasien</button>
      </div>
    </div>
  </div>

</div>
