<div class="modal-content modal-custom-size">
  <div class="modal-header">
    <div class="header">
      Riwayat Appointment
    </div>
    <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div *ngIf="isLoading" class="text-center w-100 pb-2">
      <app-loading [width]="20" class="mt-0" showLoad="true"></app-loading>
    </div>
    <ul class="timeline">
      <li *ngFor="let his of history; let i = index" >
         <div class="timeline-time">
            <span *ngIf="i === 0" class="lastupdate">Terakhir diperbarui</span>
            <span class="time">{{ his.created_date | date: 'dd/MM/yyyy' }}</span>
            <span class="time">{{ his.created_date | date: 'HH:mm' }}</span>
         </div>
         
         <div class="timeline-icon">
            <a href="javascript:;">&nbsp;</a>
         </div>
         
         <div class="timeline-body">
            <div class="timeline-header">
               <span class="username"><a href="javascript:;">{{ statusApps[his.status] || '-' }}</a> <small></small></span>
               <span class="pull-right text-muted">By {{ his.created_name }}</span>
            </div>
            <div class="timeline-content">
               <p>
                  {{ his.notes }}
               </p>
            </div>

         </div>
      </li>
   </ul>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-row justify-content-end">
      <button class="btn btn-primary ml-2" (click)="close()" >Tutup</button>
    </div>
  </div>
</div>
