<div id="divHiddenTwo unprintable" class="fo_minimizer" data-toggle="collapse" data-target=".fo_minimized">
  <div class="unprintable">
    <img class="icon_minimizer" src="{{assetPath}}icons/ic_Minimize@2x.png">
    <img class="icon_maximizer" src="{{assetPath}}icons/ic_Maximize@2x.png">
  </div>
  <span class="header-3 collapse show width fo_minimized">
    <div class="fo_minimized_text unprintable">MINIMIZE</div>
  </span>
</div>
<div class="container-button shadow-4 unprintable">
  <a class="side_button shadow-4" aria-expanded="false" href="/swab-list" target="_parent"
    [routerLink]="['/swab-list']" [routerLinkActive]="['active']">
    <div>
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_Black.png">
      <img class="icon" src="{{assetPath}}icons/ic_AppointmentList_White.png">
    </div>
    <div class="header-3 collapse show width fo_minimized" popoverTitle="Swab List"
      ngbPopover="Melihat daftar antrian pasien swab dan pengisian hasil swab"
      triggers="mouseenter:mouseleave" placement="right" container="body">
      <div class="fo_minimized_text">Swab List</div>
    </div>
  </a>
</div>