
#group-account {
    position: absolute;
    top: 120px;
    left: 10px;
  }
  
  #group-account img {
    height: 85px;
    width: 80px;
  }
  
  #group-account #group-account-name {
    position: absolute;
    top: 0;
    left: 90px;
    margin-top: 30px;
  }
  
  #group-account #group-account-name ul {
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
  }
  
  #group-account #group-account-name ul li {
    width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    max-height: 32px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  #group-account #group-account-name ul li label {
    font-size: 11pt;
    margin-bottom: 0;
    font-weight: bold;
  }
  
  #group-account #group-account-name ul li #username {
  
  }
  
  @media only screen and (max-width: 940px) and (min-width: 320px) {
    div#group-account {
      zoom:0.8;
    }
  }
  
  @media print {
    #group-account {display: none}
  }
  
  .fo_minimizer{
    color: #4D9B35;
    display: flex;
    font-weight: bold;
    text-align: left;
    padding: 3px 1.5em ;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    display: flex;
    align-items: center;
    border: none;
    margin: 5px 0px !important;
    height: fit-content;
    width: fit-content;
    height: 44px;
    padding-left: 18px;
    max-width: 19rem;
  }
  .side_button icon{
    padding: 5px 0px;
  }
  .side_button:focus{
    outline: none;
  }
  .side_button:not(.side_button_first):hover{
    background: #323B79;
    color: white;
    border-right: 5px solid #F2C22C ;
    transform: translateZ(0);
  }
  .side_button.active{
    background: #323B79;
    color: white;
    border-right: 5px solid #F2C22C ;
    transform: translateZ(0);
  }
 
  .side_button {
    display: flex;
    font-weight: bold;
    text-align: left;
    padding: 5px 1.5em ;    
    display: flex;
    align-items: center;
    border: none;
    height: inherit;
    background: #1A2268 ;
    color: white ;
    border: none ;
    transition: all ease 0.5s;
  }
  .side_button_first { border-top-right-radius: 8px ; color: #eabc2e; }
  .side_button_last { border-bottom-right-radius: 8px ; }
 
  .fo_minimized .fo_minimized_text{
    white-space: nowrap;
    margin-left: 0.8333rem;
    width: 14rem;
  }
  .fo_minimized .fo_minimized_text_long{
    margin-left: 0.8333rem;
    width: 14rem;
  }
  .container-button{
    border-radius: 0;
    border: none;
    background: white !important;
    margin: 0;
    width: 216px;
    height: 44px;
  }
  .container-button > a:hover { 
      text-decoration: none;
   }
  
  .fo_minimizer img{width: 2rem;height: 1.2rem; margin-left: 0.2em}
  .fo_minimizer.collapsed .icon_maximizer{display: block;}
  .fo_minimizer.collapsed .icon_minimizer{display: none;}
  .fo_minimizer .icon_maximizer{display: none;}
  .fo_minimizer .minimizer{display: block;}
  
  .menu-badge {
    border-radius: 100%;
    padding: 4px 5px;
    margin-left: 5px;
    background: #c43d32;
    color: white;
  }

  .roundNumber{
    border-radius: 50%;
    padding: 0.1em 0.3em;
    /* margin: auto 0.3em; */
    margin-left: -30px;
    background: #c43d32;
    color: white;
  }
  
  