<div class="mt-4" ></div>
<div class="container-button unprintable">
  <a class="side_button side_button_first" aria-expanded="false" href="/schedule">
    <div>
      <img class="icon" src="../../../../assets/icons/ic_radioactive.png" />
    </div>
    <div class="header-3 collapse show width fo_minimized" >
      <div class="fo_minimized_text">MenuName</div>
    </div>
  </a>
</div>

<div class="container-button unprintable">
  <a class="side_button" 
      aria-expanded="false"
      [routerLink]="['/schedule']" 
      [routerLinkActive]="['active']">
    <div class="header-3 collapse show width fo_minimized" 
          popoverTitle="Radiology Schedule"
          ngbPopover="-"
          triggers="mouseenter:mouseleave"
          placement="right"
          container="body">
      <div class="fo_minimized_text">Radiology Schedule</div>
    </div>
  </a>
</div>

<div class="container-button unprintable">
  <a class="side_button" 
      aria-expanded="false" 
      href="/worklist" 
      [routerLink]="['/worklist']" 
      [routerLinkActive]="['active']">
    <div class="header-3 collapse show width fo_minimized" 
          popoverTitle="Worklist"
          ngbPopover="-"
          triggers="mouseenter:mouseleave"
          placement="right"
          container="body">
      <div class="fo_minimized_text">Worklist</div>
    </div>
  </a>
</div>
<div class="container-button unprintable">
  <a class="side_button" 
      aria-expanded="false"
      [routerLink]="['/modality-master']" 
      [routerLinkActive]="['active']">
    <div class="header-3 collapse show width fo_minimized" 
          popoverTitle="Modality Master"
          ngbPopover="-"
          triggers="mouseenter:mouseleave"
          placement="right"
          container="body">
      <div class="fo_minimized_text">Modality Master</div>
    </div>
  </a>
</div>
<div class="container-button unprintable">
  <a class="side_button" 
      aria-expanded="false"
      [routerLink]="['/maintenence-schedule']" 
      [routerLinkActive]="['active']">
    <div class="header-3 collapse show width fo_minimized" 
          popoverTitle="Maintenance Schdule"
          ngbPopover="-"
          triggers="mouseenter:mouseleave"
          placement="right"
          container="body">
      <div class="fo_minimized_text">Maintenance Schedule</div>
    </div>
  </a>
</div>
<div class="container-button unprintable">
  <a class="side_button  side_button_last" 
      aria-expanded="false"
      [routerLink]="['/queue-management']" 
      [routerLinkActive]="['active']">
    <div class="header-3 collapse show width fo_minimized" 
          popoverTitle="Queue Management"
          ngbPopover="-"
          triggers="mouseenter:mouseleave"
          placement="right"
          container="body">
      <div class="fo_minimized_text">Queue Management</div>
    </div>
  </a>
</div>
