<div id="timer-picker" class="position-relative">
  <input type="text" class="form-control text-center timer-picker pr-3" 
    [style.width]="width" 
    [placeholder]="placeholder"
    (focus)="onShowSelect()" 
    (focusout)="onHideSelect($event)"
    [value]="value" />
  <span class="position-absolute fa fa-caret-down" ></span> 
  <div class="position-absolute  d-none shadow select-timer" [class.d-flex]="isShow" [style.width]="width" >
    <div class="d-flex flex-column flex-grow-1 select-option" >
      <button *ngFor="let hour of hours" class="border-0 bg-white" [value]="hour" (mousedown)="onSelectHour(hour)" >{{ hour }}</button>
    </div>
    <div class="d-none flex-column flex-grow-1 select-option" [class.d-flex]="useMinute" >
      <button *ngFor="let minute of minutes" class="border-0 bg-white" [value]="minute" (mousedown)="onSelectMinute(minute)" >{{ minute }}</button>
    </div>
  </div>
</div>