<div class="modal-content" style="width: 588px;">
   <div class="modal-header">
      <div class="header">
         <span *ngIf="!isUpdate">Tambah Jadwal</span>
         <span *ngIf="isUpdate">Jadwal Perawatan Modality</span>
      </div>
      <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
         <span aria-hidden="true">&times;</span>
      </button>
   </div>
   <form [formGroup]="modalityForm" novalidate>
   <div class="modal-body">
      <ng-container>
         <div class="formclass">
            <div class="">
               <div class="mb-3 " *ngIf="responseData == null">
                  <h4>Jadwal Pemeliharaan</h4>
               </div>
               <div class="mb-3 " *ngIf="responseData != null">
                  <h5>{{responseData.modality_name}} - Room {{responseData.room.name}}</h5>
               </div>
               <div class="mb-3" *ngIf="responseData == null">
                  <label for="dropdownMenuLink">Label Modality<span style="color:red">*</span></label>
                  <select class="form-control modalities" [required]="true" name="modalityHospitalId" formControlName="modalityHospitalId" (change)="getModalityHospitalById($event)">
                  <option value="">Pilih Modality</option>
                  <option *ngFor="let modality of maintenanceItem.data" value="{{modality.modality_hospital_id}}">
                     {{modality.modality_label}}</option>
                  </select>
               </div>
            </div>

            <div class="mb-3">
               <label for="">Tanggal dan Waktu</label>
               <div class="d-flex align-items-center">
                  <div title="Pick period table" class="cursor-pointer-force">
                  <app-date-picker
                     class=""
                     format="dddd, DD MMMM YYYY" 
                     [hideIcon]=true 
                     [noBorder]=true
                     [isModalLarge]=true
                      width="150px"
                     [(value)]="newDate">
                  </app-date-picker>
               </div>
                     <span class="mx-2"></span>
                  <app-time-picker
                     [isModalLarge]=true
                     [noBorder]=true
                     [(value)]="newFromTime"
                    >
                  </app-time-picker>&nbsp;
                  <app-time-picker
                     [isModalLarge]=true
                     [noBorder]=true
                     [(value)]="newToTime"
                    >
                  </app-time-picker>
               </div>
               
            </div>

            <div class=" mb-3 ">
               <label for="dropdownMenuLink">Modality<span style="color:red">*</span></label><br>
               <label for="dropdownMenuLink" *ngIf="!retrievedModality">-</label>
               <label for="dropdownMenuLink" *ngIf="retrievedModality">{{modalityHospital.modality_name}}</label>
            </div>

            <div class="mb-3" *ngIf="responseData == null">
               <label for="dropdownMenuLink">Ruangan<span style="color:red">*</span></label><br>
               <label for="dropdownMenuLink" *ngIf="!retrievedModality">-</label>
               <label for="dropdownMenuLink" *ngIf="retrievedModality">
                 Floor {{modalityHospital.tx_room_mapping.floor_name}} - {{modalityHospital.tx_room_mapping.wing_name}} - Room {{modalityHospital.tx_room_mapping.room_name}}
               </label>
            </div>

            <div class="mb-3" *ngIf="responseData != null">
               <label for="dropdownMenuLink">Ruangan<span style="color:red">*</span></label><br>
               <label for="dropdownMenuLink" *ngIf="!retrievedModality">-</label>
               <label for="dropdownMenuLink" *ngIf="retrievedModality">
                 Floor {{responseData.room.floor_name}} - {{responseData.room.wing_name}} - Room {{responseData.room.name}}
               </label>
            </div>

            <div class="d-flex flex-wrap flex-row ">
               <div class="mb-3 w-100">
                 <label for="">Note</label>
                 <div>
                   <textarea rows="3" class="form-control" placeholder="Catatan Pasien" name="notes" formControlName="notes"></textarea>
                 </div>
               </div>
             </div>
         </div>
      </ng-container>
   </div>
   <div class="modal-footer">
      <button class="btn btn-default" *ngIf="responseData == null">Reset</button>
      <button class="btn btn-default mr-auto" *ngIf="responseData != null" (click)="deleteModality(responseData)">Hapus Jadwal</button>
      <button class="btn btn-primary " (click)="submit()" [disabled]="!retrievedModality">Simpan Perubahan</button>
  </div>
  </form>
</div>