<div class="modal-content">
  <div class="modal-header">
    <div class="header">
      // masukin icon ya diriku
    </div>
    <button #close_button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="formclass">
      <div class="mb-3">
        <h4>CT Scan - Room 1</h4>
      </div>
      <div class="mb-3">
        <label for="">Date and Time</label>
        <div>
          (date picker component)
        </div>
      </div>
      <div class="mb-3">
        <label for="">Nama Lengkap <sup class="text-required">*</sup></label>
        <div>
          <input type="text" class="form-control" placeholder="Masukkan Nama Lengkap Pasien" />
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row">
        <div class="mb-3 w-50">
          <label for="">Date of Birth <sup class="text-required">*</sup></label>
          <div>
            <input type="date" class="form-control" placeholder="DD-MM-YYYY" />
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <label for="">ID Number <sup class="text-required">*</sup></label>
          <div>
            <input type="text" class="form-control" placeholder="ID Number" />
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="">Mobile Phone <sup class="text-required">*</sup></label>
          <div>
            <input type="text" class="form-control" placeholder="0822..." />
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <label for="">Email</label>
          <div>
            <input type="text" class="form-control" placeholder="email@domain.com" />
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="">Examination <sup class="text-required">*</sup></label>
          <div>
            <input type="text" class="form-control" placeholder="Select Examination" />
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row">
        <div class="mb-3 w-50">
          <label for="">Note</label>
          <div>
            <textarea rows="3" class="form-control" placeholder="Catatan Pasien"></textarea>
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <label for="">Alamat</label>
          <div>
            <textarea rows="3" class="form-control" placeholder="Alamat Pasien"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex flex-row justify-content-end">
      <div class="btn btn-danger ml-2">Local Updated by FO 2</div>
      <button class="btn btn-danger ml-2">Save Changes</button>
    </div>
  </div>
</div>
