<div id="modal-detail-schedule" class="modal-content modal-custom-size">
  <div class="modal-header border-bottom-0">
    <div class="header">
      <button class="btn border-0" (click)="cancelAppointment()" placement="bottom" ngbTooltip="Batalkan Appointment">
        <span class="fa fa-lg fa-trash-o " style="color: #341F97"></span>
      </button>
      <button class="btn border-0" (click)="showHistoryModal()" placement="bottom" ngbTooltip="Lihat Riwayat Appointment">
        <span class="fa fa-lg fa-history " style="color: #341F97"></span>
      </button>
      <button class="btn border-0" *ngIf="!selectedAppointment.admission_id" (click)="createAdmission()" placement="bottom" ngbTooltip="Buat Admission">
        <span class="fa fa-lg fa-check" style="color: #341F97"></span>
      </button>
      <button class="btn border-0"*ngIf="selectedAppointment.admission_id" (click)="inputQueueNumber()" placement="bottom" ngbTooltip="Lakukan Check-In">
        <img src="assets/icons/ic_usercheck.svg" class="icon-usercheck" alt="usercheck" />
      </button>
    </div>
    <button #close_button type="button" class="close text-muted" data-dismiss="modal" aria-label="Close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="updateAppointmentForm" novalidate>
  <div class="modal-body px-0">
    <div class="formclass">
      <div class="mb-3 d-flex align-items-center justify-content-between px-3">
        <h4>{{selectedAppointment.modality_name}} - {{selectedAppointment.room_name}}</h4>
        <span class="badge badge-primary p-2 rounded-pill">
          <h6 class="mb-0" >Terjadwal</h6>
        </span>
      </div>
      <div class="mb-3 px-3" *ngIf="selectedAppointment.operational_type == 3">
        <label for="">Tanggal dan Waktu</label>
        <div class="d-flex align-items-center" >
          <app-date-picker format="dddd, DD MMMM YYYY" hideIcon=true [noBorder]=true
          [isModalLarge]=true
          width="230px"
          [(value)]="selectedAppointment.reserveDate"
          [onChange]="onChangeDate" ></app-date-picker>
          <app-time-picker
            [isModalLarge]=true
            [noBorder]=true
            [(value)]="selectedAppointment.from_time"
            [duration]="selectedAppointment.duration"
            [onChange]="onChangeTimer" >
          </app-time-picker>&nbsp;
          <app-time-picker
            [isModalLarge]=true
            [noBorder]=true
            [(value)]="selectedAppointment.to_time"
            [duration]="selectedAppointment.duration"
            [onChange]="onChangeTimer" >
        </app-time-picker>
        </div>
        <div class="text-danger ml-2" *ngIf="errorTimer" >{{errorMsg}}</div>
      </div>
      <div class="mb-3 px-3" *ngIf="selectedAppointment.operational_type == 1">
        <label for="">Tanggal dan Waktu</label>
        <div class="d-flex align-items-center" >
          <app-date-picker format="dddd, DD MMMM YYYY" 
            width="160px" hideIcon="true"  
            [(value)]="selectedAppointment.reserveDate" ></app-date-picker>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row mb-3 py-2 bg-secondary px-3">
        <div class="w-50">
          <label for="" class="text-muted">Local MR Number</label>
          <div>
            <span class="form-label">{{selectedAppointment.local_mr_no ? selectedAppointment.local_mr_no : '-'}}</span>
          </div>
        </div>
        <div class="w-50 pl-3">
          <label for="" class="text-muted">Admission Number</label>
          <div>
            <span class="form-label">{{selectedAppointment.admission_no ? selectedAppointment.admission_no : '-'}}</span>
          </div>
        </div>
      </div>
      <div class="mb-3 px-3">
        <label for="" class="text-muted">Nama Lengkap</label>
        <div>
          <span class="form-label">{{selectedAppointment.patient || selectedAppointment.patient_name}}</span>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row px-3">
        <div class="mb-3 w-50">
          <label for="" class="text-muted">Tanggal Lahir</label>
          <div>
            <span class="form-label">{{selectedAppointment.dob || selectedAppointment.patient_dob}}</span>
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <label for="" class="text-muted">ID Number</label>
          <div>
            <span class="form-label">{{selectedAppointment.identity_type_id == 1 ? 'KTP' : 'Passport' }} - {{selectedAppointment.identity_number}}</span>
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="" class="text-muted">Mobile Phone</label>
          <div>
            <span class="form-label">{{selectedAppointment.patient_phone_number_1 ? selectedAppointment.patient_phone_number_1 : selectedAppointment.patient_phone_number_2}}</span>
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <label for="" class="text-muted">Email</label>
          <div>
            <span class="form-label">{{selectedAppointment.email}}</span>
          </div>
        </div>
        <div class="mb-3 w-100">
          <div class="">
            <p>BPJS</p>
            <div class="form-check form-check-inline pr-3">
              <input class="form-check-input" type="radio" formControlName="is_bpjs" name="is_bpjs" [value]=false >
              <label class="form-check-label" for="bpjsRadio">Non BPJS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="is_bpjs" name="is_bpjs" [value]=true>
              <label class="form-check-label" for="bpjsRadio">BPJS</label>
            </div>
          </div>
        </div>
        <div class="mb-3 w-50">
          <label for="">Tindakan <sup class="text-required">*</sup></label>
          <div class="">
            <select id="title" class="form-control" name="dropDownRoom" formControlName="modalityExaminationId">
              <option *ngFor="let examination of examinations" value="{{examination.modality_examination_id}}"
              [selected]="examination.modality_examination_id == selectedAppointment.modality_examination_id"
              >
                {{examination.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="mb-3 w-50 pl-3">
          <div class="">
            <p>Anastesi</p>
            <div class="form-check form-check-inline pr-3">
              <input class="form-check-input" type="radio" name="is_anesthesia" formControlName="is_anesthesia" [value]=false >
              <label class="form-check-label" for="anastesiRadio">Tidak</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="is_anesthesia" formControlName="is_anesthesia" [value]=true
              [checked]="selectedAppointment.is_anesthesia === true">
              <label class="form-check-label" for="anastesiRadio">Ya</label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-row px-3">
        <div class="mb-3 w-100">
          <label for="">Note</label>
          <div>
            <textarea ngbAutofocus rows="3" class="form-control" placeholder="Catatan Pasien" name="note" formControlName="notes"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>
  <div class="modal-footer d-flex align-items-center justify-content-between">
      <div>
        <span class="text-muted" >Local Updated by </span><br/>
        <h5 class="text-primary">{{user.fullname}}</h5>
      </div>
      <div class="">
      <button class="btn btn-secondary" *ngIf="selectedAppointment.admission_id"><i class="fa fa-print"></i> Cetak Label</button>
      <button class="btn btn-success" (click)="updateAppointment()" [disabled]="validateForm()">Simpan Perubahan</button>
    </div>
  </div>
</div>

<!-- Check Patient Data is Complete -->
<ng-template #modalConfirmPatient let-modal>
  <div class="modal-custom-size modal-confirm-admission">
    <div class="modal-header-custom border-0 px-0 px-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="align-self-center">
          <h5 class="m-0 text-bold">Konfirmasi Data Pasien</h5>
        </div>
      </div>
    </div>
    <div class="modal-body p-4">
      <div>Data Pasien belum lengkap. Lengkapi data untuk melanjutkan ke proses Admission.</div>
    </div>
    <div class="modal-footer d-flex align-items-center justify-content-end">
      <button class="btn btn-primary" (click)="modal.close()">Kirim Tautan ke Pasien</button>
      <button class="btn btn-primary ml-3" (click)="modal.close()">Lengkapi Data Pasien</button>
    </div>
  </div>
</ng-template>

<!-- Check On Late -->
<ng-template #modalConfirmAdmission let-modal>
  <div class="modal-custom-size modal-confirm-admission">
    <div class="modal-header-custom border-0 px-0 px-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="align-self-center">
          <h5 class="m-0 text-bold">Konfirmasi Proses</h5>
        </div>
      </div>
    </div>
    <div class="modal-body text-center p-4">
      <ng-container *ngIf="!admissionIsNotToday; else notToday">
        <div><h4 class="text-danger">Pasien Terlambat {{admissionLateTime}}</h4></div>
        <div>Lanjutkan ke Proses Admission?</div>
      </ng-container>
      <ng-template #notToday>
        <div class="d-flex align-items-center justify-content-center">
          <i class="fa fa-exclamation-triangle mr-2" style="font-size: 22px;"></i>
          Admission tidak dapat dilakukan, karna sudah berbeda hari
        </div>
      </ng-template>
    </div>
    <div class="modal-footer d-flex align-items-center justify-content-end">
      <button class="btn btn-text text-secondary" (click)="modal.dismiss('Tutup')">Tutup</button>
      <button *ngIf="!admissionIsNotToday" class="btn btn-primary ml-3 px-5" (click)="modal.close()">Lanjutkan</button>
    </div>
  </div>
</ng-template>

<ng-template #modalConfirmCheckIn let-modal>
  <div class="modal-content modal-custom-size modal-confirm-admission">
    <div class="modal-header-custom border-0 px-0 px-3">
      <div class="d-flex flex-wrap justify-content-between">
        <div class="align-self-center">
          <h5 class="m-0 text-bold">Konfirmasi Proses</h5>
        </div>
      </div>
    </div>
    <div class="modal-body text-center p-4">
      <ng-container *ngIf="!admissionIsNotToday; else notToday">
        <div><h4 class="text-danger">Pasien Terlambat {{admissionLateTime}}</h4></div>
        <div>Lanjutkan ke Proses Check in?</div>
      </ng-container>
      <ng-template #notToday>
        <div class="d-flex align-items-center justify-content-center">
          Tidak dapat melakukan check in pasien di hari ini. Silahkan lakukan check in pasien di hari yang sama dengan Jadwal Pasien.
        </div>
      </ng-template>
    </div>
    <div class="modal-footer d-flex align-items-center justify-content-end">
      <button class="btn btn-text text-secondary" (click)="modal.dismiss('Tutup')">Tutup</button>
      <button *ngIf="!admissionIsNotToday" class="btn btn-primary ml-3 px-5" (click)="modal.close()">Lanjutkan</button>
    </div>
  </div>
</ng-template>
