/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/angular-archwizard/archwizard.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
  font-family: 'Mulish', 'Robot', sans-serif;
}

.btn {
  cursor: pointer;
  margin: 0px 2.5px;
}

option {
  height : 100px !important;
}

.print-btn {
  background: #4D9B35;
  color: white;
  font-size: 12px;
  font-weight: 500;
  display: inline;
  float: right;
  padding: 5px 15px;
}

.print-only{
  display: none;
}

.print-only-two{
  display: none;
}

.printable {
  display: none;
}

.for-print {
  display: none;
}

.printable-table-schedule-doctor-name {
  text-align:center;
  padding-top: 5px
}
.printable-table-schedule-doctor-gender {
  display: none;
}

.printable-table-schedule-doctor-type {
  display: none;
}

input[type="date" i]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
}

.input-hide{
  display: none;
}
.print-header{
  display: none;
}
.print-date{
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table-my-siloam th h4 {
  color: #171717;
}

.table-my-siloam th {
  color: #1A2269;
}

.table-my-siloam th, .table-my-siloam td {
  padding: 5px 25px;
  border: solid 0.5px #C1C1C1;
}

.search-btn {
  background: #F2C22C;
  color: white;
  padding: 5px 25px;
}

.create-btn {
  background: #1A2269;
  color: white;
}

#inputHidden{
  display: none;
}

.alert-message-top{
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 2;
}

.form-horizontal .ngui-auto-complete {
  width: 300px;
  position: absolute;
}

.ms_btn_border{
  border: none;
  border-radius: 2px;
}
.ms_btn_blue{ background: #1A2269; color: white}
.ms_btn_blue:active{ background: #141b52; color: white}
.ms_btn_darkgrey{background: #6e6e6e; color: white;}
.ms_btn_darkgrey:active{ background: #595959; color: white}
.ms_btn_red{ background: #C43D32; color: white}
.ms_btn_red:active{ background: #a2342a; color: white}
.ms_btn_green{ background: #4D9B35; color: white}
.ms_btn_blue{ background: dodgerblue; color: white}
.ms_btn_green_light { background: chartreuse; color: white}
.ms_btn_green:active{ background: #42852e; color: white}
.ms_btn_black{ background: #000000; color: white}
.ms_btn_black:active{ background: #333333; color: white}
.ms_btn_yellow { background: #F2C22C; color: white}
.ms_btn_yellow:active{ background: #f0b80f; color: white}
.ms_btn_green_lime { background: #92D050; color: white}

html, body {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.span-canceled {
  color: #C43D32;
}

.span-checkedin {
  width: 7rem;
  text-align: center;
  border: none;
  background: greenyellow;
  border-radius: 0.2rem;
  color: black;
}

.slc-splash-background {
  /*background-image: url("assets/aaa-images/background.jpg");*/
  /*height: 100%;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
.btn-cancel {
  width: 7rem;
  border: none;
  background: #C43D32;
  border-radius: 0.2rem;
  color: white;
}

.span-canceled {
  color: #C43D32;
}

.span-expired {
  color: #6E6E6E;
}

.span-th-holiday.span-th-holiday {
  color:red;
  display: block;
  margin: 0;
}


html, body, div{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0;
}
html,body{
  background: #EFEFEF !important;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
div{
  margin: 0px;
}
.bold{
  font-weight: bold}
.icon{
  height: 2.2rem;
  width: 2.2rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  border: 0px;
}
.shadow-2{  box-shadow: 0 1px 2px #cccccc ;  }
.shadow-4{  box-shadow: 0px 1px 4px #d9d9d9;  }
.container-menu{
  display: flex;
  justify-content: flex-start;
}

.aside{
  width: fit-content;
  display: flex;
  flex-flow: column;
}
.section{
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  /*border: black 1px solid;*/
}

.container-fluid{
  padding: 0 !important;
  margin: 0 !important;
}

.container-button{
  margin: 6px 0px;
  border-radius: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border: none;
  height: fit-content;
  width: fit-content;
  background: white !important;
  /*overflow: hidden !important;*/
  max-width: 264px;
}
.container-menu{
  display: flex;
  justify-content: flex-start;
}

.aside{
  width: fit-content;
  display: flex;
  flex-flow: column;
}
.section{
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  /*border: black 1px solid;*/
}

.ms_container{ border: none; border-radius: 4px; background: white}
.ms_shadow_4{ box-shadow: 0px 1px 2px #d9d9d9}

/*accordion arrow*/
/*.dropdown .hide:after{*/
/*font-family: 'Glyphicons Halflings';*/
/*content: "v";*/
/*float: right;*/
/*color: grey;*/
/*}*/

/*.dropdown.collapsed .hide:after{*/
/*content: 'asdasdasdasdasd';*/
/*font-family: 'Glyphicons Halflings';*/
/*content: ">";*/
/*color: grey;*/
/*}*/
.nav-link{
  color: black !important;
  border-radius: 0 !important;
}
.nav-link.active{
  background-color: #EFEFEF !important;
  border-bottom: solid 2px #1A2268;
}
.btn-green{
  background: #4D9B35 !important;
  color: white ;
}

.header-1{
  font-size: 20px !important;
  font-weight: bold !important;
}
.header-2{
  font-size: 16px ;
  font-weight: bold ;
}
.header-3{
  font-size: 14px;
}
.body-text{
  font-size: 12px;
  font-weight: normal;
}
.foot-note.foot-note.foot-note{
  font-size: 10px !important;
  font-weight: normal !important;
}
::ng-deep .col{
  padding: 0px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.unavailable.unavailable {
  color:#C43D32 !important;
}
.kolom-nama{ }


/*PLACE HOLDER COLOR*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}


.collapse {
  visibility: hidden;
}
.collapse.in {
  visibility: visible;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
.collapse.show {
  visibility: visible;
}

.fo_header_grey{ background: #F4F4F4}
.fo_color_blue{ color: #1A2269;}
.fo_btn_green{
  border: none;
  background: #4D9B35;
  color: white;
  border-radius: 4px;
}
.fo_btn_red{ background: #C43D32; color: white; border-radius: 4px; border: none}
.fo_btn_black{ background: black; color: white}
.fo_btn_black_new{ border: none;
  background: black;
  color: white;
  border-radius: 4px;}
.fo_btn_save{ width: 16rem; color: white; background: #4D9B35}
.fo_btn_blue{ width: 16rem; color: white; background: #1A2269}
.fo_btn_black{ width: 16rem; color: white; background: black}
.fo_btn_disabled{ width: 16rem; color: white; background: #C1C1C1}
.fo_btn_reset{ width: 9rem; color: #C43D32; background: white; border: 1px solid #C43D32}

.fo_btn_admission:disabled { width: 16rem; color: white; background: #C1C1C1 }

button { cursor: pointer }
button:disabled { cursor: not-allowed }

.fo_container{
  background: white;
  border: none;
  border-radius: 4px;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

@media print
{

  hr { display:block; }

  .for-print {
    display: block;
  }

  .col-print-1 {width:8%;  float:left;}
  .col-print-2 {width:16%; float:left;}
  .col-print-3 {width:25%; float:left;}
  .col-print-4 {width:33%; float:left;}
  .col-print-5 {width:42%; float:left;}
  .col-print-6 {width:50%; float:left;}
  .col-print-7 {width:58%; float:left;}
  .col-print-8 {width:66%; float:left;}
  .col-print-9 {width:75%; float:left;}
  .col-print-10{width:83%; float:left;}
  .col-print-11{width:92%; float:left;}
  .col-print-12{width:100%; float:left;}

  .printable {
    display: block;
    margin-top: -595px;
    margin-left: -57px;
    margin-right: -18px;
    font-family: 'Times New Roman', Times, serif;
  }
  .unprintable {
    display: none;
  }
  .container-button{
    display: none;
  }
  .alert-message {
    display: none;
  }
  footer{
    display: none;
  }
  #group-menu{
    display:none;
  }
  #group-account{
    display: none;
  }
  #group-title-nav{
    display: none;
  }
  form#formHidden{
    display: none;
  }
  .table-leave{
    margin-top: -300px;
    margin-left: 100px;
  }
  .room-configuration{
    margin-top: -170px;
    margin-left: -350px;
  }
  #header-group-right{
    display: none;
  }
  #inputHidden{
    display: none;
  }
  #inputHidden2{
    display: none;
  }
  #formdate{
    display: none;
  }
  #formdate2{
    display: none;
  }
  #menuHidden{
    display: none;
  }
  #menu-edit-delete{
    display: none;
  }
  #logo-title{
    display: none;
  }
  #logo-title-2{
    display: none;
  }
  #thHidden{
    display: none;
  }
  #tdHidden{
    display: none;
  }
  #titleHidden{
    display: none;
  }
  #divHidden{
    display: none;
  }
  #divHiddenTwo{
    display: none;
  }
  #buttonHidden{
    display: none;
  }
  #buttonHiddenTwo{
    display: none;
  }

  .table select{
    border-color: transparent;
  }
  select{
    appearance: none;
  }
  .table input{
    border-color: transparent;
  }

  /*room-configuration*/

  .print-only-two{
    display: block;
  }


  /*doctor-quota*/

  #filter-quota{
    display: none;
  }
  #filter-quota-two{
    display: none;
  }
  .print-only {
    display: block;
    /*margin-top: 10px;*/
    /*margin-left: 60px;*/
    /*margin-right: -180px;*/
  }
  .quota-list{
    display: none;
  }
  .alert-print-wait{
    visibility: hidden;
  }

  /* Print Doctor Schedule */
  section#group-doctor-schedule {
    display: none;
  }
  #list-menu{
    display: none;
  }
  #account-name{
    display:none;
  }
  .printable-table-schedule{
    /*margin-left: 75px;*/
    /*margin-top: -90px;*/
  }
  #group-doctor-schedule-table-all{
    /*display: block;*/
    /*margin-left: 70px;*/
    /*margin-top:-140px;*/
  }
  .printable-table-schedule-all-header {
    text-align: center;
    font-size: 22px;
  }
  printable-table-schedule-all-header span{
    display: inline;
  }
  .printable-table-schedule-doctor-name {
    font-size: 22px;
    width: 1000px;
    display: block;
    text-align: center;
  }
  .printable-table-schedule-doctor-name:after {
    /*content: ' - Schedule';*/
  }
  .printable-table-schedule-doctor-gender{
    display: inline;
  }
  .printable-table-schedule-doctor-type{
    display: inline;
  }
  .unprintable-table-schedule-doctor-gender{
    display: none;
  }
  .unprintable-table-schedule-doctor-type{
    display: none;
  }
  .printable-table-schedule-doctor-specialty {
    font-size: 22px;
  }
  .printable-table-schedule {
    display: none;
  }
  .text-unprintable{
    display: none;
  }
  /*room-configuration*/

  .room-configuration{
    margin-left: 140px;
    top: -25px;
  }
  .room-configuration td{
    width: 80px;
  }
  .unprintable-room-configuration {
    display: none;
  }
  .div-conf{
    max-width:50%;
  }

  #group-room-assignment{
    display: none;
  }
  #group-room-assignment-fixed{
    display: none;
  }
  #group-room-assignment-table{
    display: none;
  }

  .doctor-unassigned{
    display: block;

  }
  .doctor-unassigned td{
    width: 50px;
  }

  .table textarea{
    border-color: transparent;
  }
  #input-search-doctor-leave{
    display: none;
  }

  .div-to-bottom{
    margin-top: 230px;
  }
  .input-hide{
    display: block;
  }
  .input-show{
    display: none;
  }
  .print-button{
    display: none;
  }
  textarea {
    resize: none;
  }
  .print-header{
    display: inline;
    /*position: fixed;top: 115px;left: 840px;*/
  }
  .print-date{
    display: inline;
    /*position: fixed;top: 140px;right: 870px;*/
  }
}

.loading-div {
  text-align: center;
}
.loading-div img {
  width: 8vw;
}


/*Form Error*/
.form-error > label {
  color: red;
  font-weight: 600;
}
.form-error input, .form-error textarea, .form-error select {
  color: red;
  font-weight: 600;
  border: 1px solid red !important;
}
.form-error input::-webkit-input-placeholder, .form-error textarea::-webkit-input-placeholder, .form-error select::-webkit-input-placeholder{  color: red; }
.form-error input:-moz-placeholder, .form-error textarea:-moz-placeholder, .form-error select:-moz-placeholder {  color: red; }
.form-error input::-moz-placeholder, .form-error textarea::-moz-placeholder, .form-error select::-moz-placeholder {  color: red; }
.form-error input:-ms-input-placeholder, .form-error textarea:-ms-input-placeholder, .form-error select:-ms-input-placeholder {  color: red; }
.form-tab-error {
  position: relative;
}
.form-tab-error::after {
  content: "!";
  color: white;
  background: red;
  border-radius: 50%;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  right: -12px;
}
/*--Form Error--*/

.alert-danger-2 {
  padding: 5px 25px;
  background: #c43d32;
  color:white;
}

.disable {
  pointer-events: none;
  background: #c1c1c1 !important;
}














.beforePrint.printing {
  display: block !important;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
}
.root-printing.printing {
  display: none;
}

@media print {
  .beforePrint.printing {
    display: block !important;
    top: 0;
    left: 0;
    width: 100%;
  }
  .root-printing.printing {
    display: none;
  }
}

@page {
  size: A4;   /* auto is the initial value */
  margin: 0;  /* this affects the margin in the printer settings */
}

/*Scroll Container*/
.scrollContainer {
  overflow: scroll;
  max-height: 500px;
}
.scrollContainer thead th{
  z-index: 1;
}
.scrollContainer thead tr:first-child th {
  position: sticky;
  top: 0;
  border: none;
  background: white;
}
.scrollContainer thead tr th:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.05em solid #c1c1c1;
}

.fo_menu_container{
  width: fit-content;
  display: flex;
  flex-flow: column;
}
.fo_content_container{
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: left;
}

.angular-autocomplete {
  width: auto;
}

.autocomplete-container .input-container input[type=text] {
  font-size: 12px;
}

.angular-autocomplete .autocomplete-container .suggestions-container {
  z-index: 2 !important;
}

.angular-autocomplete .autocomplete-container .suggestions-container ul li a {
  font-size: 12px;
}

.autocomplete-container {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  position: relative;
  overflow: visible;
  height: 30px !important;
}

.autocomplete-container .input-container input {
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: 0;
  background-color: #fff;
  color: rgba(0,0,0,.87);
  width: 100%;
  padding: 0 15px;
  line-height: 30px !important;
  height: 30px !important;
}

.autocomplete-container .suggestions-container ul li a {
  padding: 7px 15px !important;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0,0,0,.87);
  font-size: 15px;
}

/* loading */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  z-index: 99999999;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(70, 150, 255, 0.8);
  border-radius:100%;

}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.body-login {
  overflow: hidden;
}

.table-status { display: inline-block; padding: 6px 8px; border-radius: 50px; text-align: center; min-width: 75px; background-color: #f5f5f5; }
.table-status.status-scheduled { background-color: #C8CBFA; color: #575FCF; }
.table-status.status-arrived { background-color: #DCEEFA; color: #95AFC0; }
.table-status.status-process { background-color: rgba(249, 242, 219, 0.5); color: #EEBD10; }
.table-status.status-completed { background-color: #DCF0D3; color: #6AB04C; }

.table-td { vertical-align: middle !important; }
/* .table-td:first-of-type::before {
  width: 20px;
  height: 100px;
  background-color: #575FCF;
  display: inline-block;
  content: 'p';
 } */
.table-td.table-td-scheduled { background-color: #dfe1fe; color: #575FCF; }
.table-td.table-td-arrived { background-color: #eff7fd; color: #95AFC0; }
.table-td.table-td-process { background-color: rgba(249, 242, 219, 0.5); color: #EEBD10; }
.table-td.table-td-completed { background-color: #e9f6e2; color: #6AB04C; }
.table-td.table-td-note { background-color: rgba(249, 242, 219, 0.5); color: rgba(238, 189, 16, 1); }
.table-td.item-indicator-primary { border-left: 2px solid rgba(87, 95, 207, 1); }
.table-td.item-indicator-warning { border-left: 2px solid rgba(238, 189, 16, 1); }
.table-td.table-td-arrived .item-indicator { background-color: #d4ecfe; }
.table-td.table-td-process .item-indicator { background-color: rgba(255, 235, 169, 1); }
.table-td.table-td-completed .item-indicator { background-color: #acf685; }
.table-td.table-td-note .item-indicator { background-color: rgba(248, 222, 127, 0.5); }

section .form-control {
  padding: 15px;
  border: 1px solid rgba(34, 47, 62, 0.38);
  border-radius: 4px;
}
section .form-control::placeholder {
  color: rgba(34, 47, 62, 0.38);
}
section .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.text-required { color: #EB4D4B; }
.text-muted { color: rgba(34, 47, 62, 0.54) !important; }
.bg-secondary, textarea:read-only, textarea:disabled { background-color: #F8F9FA !important; }

.btn { border: 0; border-radius: 4px; padding: 7px 8px; }
.btn.btn-primary { background-color: #341F97 !important; color: #f5f5f5 !important; }
.btn.btn-secondary { background-color: rgba(34, 47, 62, 0.12) !important; color: rgba(34, 47, 62, 0.38); }
.btn.btn-success { background-color: #6AB04C !important; color: #f5f5f5 !important; }
.btn.btn-danger { background-color: #EB4D4B !important; color: #f5f5f5 !important; }
.btn.btn-warning { background-color: rgba(249, 242, 219, 0.5) !important; }
.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative
}

.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 5px;
  background: #2d353c;
  left: 20%;
  margin-left: -2.5px
}

.timeline>li {
  position: relative;
  min-height: 50px;
  padding: 20px 0
}

.timeline .timeline-time {
  position: absolute;
  left: 0;
  width: 18%;
  text-align: right;
  top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
  display: block;
  font-weight: 600
}

.timeline .timeline-time .lastupdate {
  line-height: 14px;
  font-size: 14px;
  left:-10px;
  font-weight: 400;
  line-height: 18px;
  color: #341F97;
}


.timeline .timeline-time .date {
  line-height: 16px;
  font-size: 12px
}

.timeline .timeline-time .time {
  line-height: 24px;
  font-size: 12px;
  color:#6e6e6e;
}

.timeline .timeline-icon {
  left: 15%;
  position: absolute;
  width: 10%;
  text-align: center;
  top: 40px
}

.timeline .timeline-icon a {
  text-decoration: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 20px;
  background: #d9e0e7;
  line-height: 10px;
  color: #fff;
  font-size: 14px;
  transition: border-color .2s linear
}

.timeline .timeline-body {
  margin-left: 23%;
  margin-right: 17%;
  background: #fff;
  position: relative;
  padding: 20px 25px;
  border-radius: 6px
}

.timeline .timeline-body:before {
  content: '';
  display: block;
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  left: -20px;
  top: 20px
}

.timeline .timeline-body>div+div {
  margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
  margin-bottom: -20px;
  padding-bottom: 20px;
  border-radius: 0 0 6px 6px
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px
}

.timeline-header .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  margin: -2px 10px -2px 0
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c
}

.timeline img {
  max-width: 100%;
  display: block
}

.timeline-content {
  letter-spacing: .25px;
  line-height: 18px;
  font-size: 13px
}

.timeline-content:after,
.timeline-content:before {
  content: '';
  display: table;
  clear: both
}

.timeline-title {
  margin-top: 0
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px
}

.timeline-footer a:not(.btn) {
  color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
  color: #2d353c
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px
}

.timeline-likes .stats-right {
  float: right
}

.timeline-likes .stats-total {
  display: inline-block;
  line-height: 20px
}

.timeline-likes .stats-icon {
  float: left;
  margin-right: 5px;
  font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
  margin-left: -2px
}

.timeline-likes .stats-text {
  line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
  margin-left: 15px
}

.timeline-comment-box {
  background: #f2f3f4;
  margin-left: -25px;
  margin-right: -25px;
  padding: 20px 25px
}

.timeline-comment-box .user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px
}

.timeline-comment-box .user img {
  max-width: 100%;
  max-height: 100%
}

.timeline-comment-box .user+.input {
  margin-left: 44px
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-danger, .text-red {
  color: #ff5b57!important;
}

.btn-primary {
  color: #fff;
  background-color: #043a72;
  border-color: #007bff;
}

.badge-primary {
  color: #575FCF;
  background: #C8CBFA;
}

.modal-content {
  border: none;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer-force * {
  cursor: pointer;
}

.text-primary {
  color: #575FCF;
}

.back-button {
  color: rgba(34, 47, 62, 0.38);
  display: inline-block;
  font-size: 28px;
}

.back-button:hover {
  color: black;
}

.modal-header-custom {
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.multiselect-dropdown[_ngcontent-serverApp-c4] .dropdown-btn[_ngcontent-serverApp-c4] {
  display: inline-block;
  border: 1px solid #adadad00 !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.multiselect-dropdown[_ngcontent-serverApp-c4] .dropdown-btn[_ngcontent-serverApp-c4] .selected-item[_ngcontent-serverApp-c4] {
  border: 1px solid #341f9700 !important;
  margin-right: 4px;
  background: #b5b4b9 !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
}

.dropdown-list[_ngcontent-serverApp-c4] {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0 1px 5px #dfd6d6 !important;
}

.modal-custom-size {
  width: 588px;
  border: 0;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 35%);
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad00 !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.multiselect-item-checkbox:before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #1a2268 !important;
  border-radius: 3px;
  border-color: #1a2268 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #1a2268 !important;
  border-radius: 3px;
  border-color: #1a2268 !important;
}


.multiselect-item {
  box-sizing: content-box;
  content: '';
  color: #337ab7;
  border: 2px solid #dbdbdb !important;
  text-align: center;
  transition: .4s;
}

.multiselect-item-checkbox input[type=checkbox] + div:before {
    box-sizing: content-box;
    content: '';
    color: #337ab7;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -9px;
    border: 2px solid #d4d7d9 !important;
    text-align: center;
    transition: .4s;
}

.item-hover:hover {
  background-color: #f5f5f5;
}

.item-hover:active {
  background-color: #eee;
}


.timeline:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 2px !important;
  background: #d8d8d9 !important;
  left: 20%;
  margin-left: -2.5px;
}