<app-section-header></app-section-header>
<div class="d-flex justify-content-start">
  
  <div class="fo_menu_container">
      <app-section-sidebar></app-section-sidebar>
  </div>
  <div class="fo_content_container mt-4 d-block" >
    <div class="box bg-white">
      <div class="header-radiology-schedule" >
        <div class="row border-bottom">
          <div class="col-md-3">
            <h3 class="p-3 ">
              Jadwal Perawatan Modality
            </h3>
            <app-modality-tab>
    
            </app-modality-tab>
          </div>
          <div class="col-md-7 justify-content-end">

          </div>
          <div class="col-md-2 justify-content-end">
            <h3 class="p-3">
              <button class="btn btn-primary ml-5" (click)="showModalityModal()">+ Tambah Jadwal</button>
            </h3>
          </div>
        </div>
        <div class="px-3 border-bottom" >
          <div class="row border-bottom mb-5" style="height: 52px;;" >
            <div class="col-md-3 position-relative mt-3 pr-0 mb-2 border-right">
              <input class="form-control pt-3 input-filter pr-4" type="text" placeholder="Cari Label"
                title="Find patients" [(ngModel)]="selectedModalityLabel" (change)="onItemSelect()"/>
              <span class="fa fa-search position-absolute"></span>
            </div>
            <div class="col-md-2 position-relative mt-3 pr-0 border-right" >
              <ng-select
                [multiple]="true"
                [items]="modalityOptions"
                [closeOnSelect]="false"
                [searchable]="true"
                [(ngModel)]="selectedItemsModality"
                placeholder="Pilih Modality"
                bindLabel="name"
                (change)="onItemSelect()"
                bindValue="modality_id">
            </ng-select>
            </div>
            
            <div class="col-md-2 position-relative mt-3 pr-0 border-right" >
              <ng-select
                [multiple]="true"
                [items]="roomOptions"
                [(ngModel)]="selectedItemsFloor"
                placeholder="Pilih Lantai"
                (change)="onItemSelect()"
                bindLabel="floor_name"
                bindValue="floor_id">
            <!-- <ng-template ng-header-tmp>
                <button (click)="selectAll()" class="btn btn-sm btn-secondary">Select all</button>
                <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button>
            </ng-template> -->
            <!-- <ng-template ng-footer-tmp>
                Selected count: {{selectedPeople.length}}
            </ng-template> -->
            </ng-select>
            </div>
           
            
          </div>
          <div class="table-head-sticky">
            <table class="table table-borderless table-stripped table-font" id="appointment-list-table">
              <thead class="border-0 bg-secondary">
                <th style="width:350px">
                  Label
                </th>
                <th style="width:250px">
                  Modality
                </th>
                <th width="100px" style="text-align: left">Lt</th>
                <th width="100px" style="text-align: left">Ruangan</th>
                <th width="200px" style="text-align: left">Jadwal Pemeliharaan</th>
                <th class="" style="text-align: left" width="250px">Catatan</th>
                <th class="" style="text-align: right; min-width: 10em;">Action</th>
                <th width="50px"></th>
              </thead>
          
              <tbody>
                <ng-container *ngIf="isLoading; else showList">
                  <tr>
                    <td colspan="100%" class="text-center p-3">Memuat data mohon tunggu...</td>
                  </tr>
                </ng-container>
                <ng-template #showList>
                  <ng-container *ngIf="!(operationals.data && operationals.data.length)">
                    <tr>
                      <td colspan="100%" class="text-center p-3">Data currently does not exist</td>
                    </tr>
                  </ng-container>
                </ng-template>
                <tr *ngFor="let item of operationalsClose.data; let i = index">
                  <td>{{item.modality_label}}</td>
                  <td style="font-size:14px">{{item.modality_name}}</td>
                  <td style="text-align: left">{{item.room.floor_name}}</td>
                  <td style="text-align: left">{{item.room.name}}</td>
                  <td style="text-align: left"> {{moment(item.from_date).format('dddd, DD MM YYYY')}} | {{item.from_time}} - {{item.to_time}}</td>
                  <td>
                    {{item.notes}}
                  </td>
                  <td class="pr-3" style="text-align: right">
                    <a class="detailed-button" (click)="showModalityModal(item, true)">Detail</a>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
