<div class="ms_fixed_header unprintable">
  <div id="header" class="shadow-4">

    <div id="header_logo" class="d-flex justify-content-start">
      <img src="{{assetPath}}icons/ic_Logo_ART@2x.png">
      <div class="ms_logo_right">
        <!-- <div>
          <h2>{{environment}} <small>v{{appVersion}}</small></h2>
        </div>
        <div>
          {{currentHospital.name}}
        </div> -->
      </div>
    </div>


    <div class="header_right">
      <div id="header_account" class="header-3">
        <div class="dropdown">
          <img class="dropbtn img-custom" src="{{assetPath}}icons/ic_UserFemale.png">
          <div class="dropdown-content">
            <div class="clickable" (click)="changePasswordModal('change-password-modal')">Change Password</div>
          </div>
        </div>
        
        <a>
          <div>{{currentUser.fullname}}</div>
        </a>
      </div>

      <div ngbDropdown class="d-inline-block hospital-option">
        <button id="dropdownBasic1" ngbDropdownToggle>{{currentHospital.alias}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" *ngFor="let h of hospitals" (click)="changeOrg(h.id)" href="" target="_parent"
            [routerLink]="['/']"> {{h.alias}}
          </a>
        </div>
      </div>

      <div *ngIf="auth.isLoggedIn()" id="header_signio" class="header-3">
        <img class="icon" src="{{assetPath}}icons/ic_SignOut.png">
        <a [routerLink]="['/login']">
          <div>SIGN OUT</div>
        </a>
      </div>

    </div>
  </div>
</div>
<div class="unprintable" style="height: 80px">Filler</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <!-- <div class="modal-content">
      <div class="ms_modal_header">
        <div class="">View The Queue</div>
        <button type="button" class="" data-dismiss="modal">
          <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Cross@2x.png">
        </button>
      </div>
      <div class="modal-body">
        <div>Press buttons below to call next queue</div>
        <div class="queue-button-container">
          <div class="queue-darkgreen">
            <div (click)="postCallQueue(currentQueueTypeAID, false, 'A')" class="button-queue-call ">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Call_Generic@2x.png">
              <div>REGISTRATION - APPOINTMENT</div>
            </div>
            <div (click)="postCallQueue(currentQueueTypeAID, true, 'A')" class="button-queue-recall">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Recall_RegAppo@2x.png">
            </div>
            <div class="current-queue-number">
              {{currentQueueTypeAContent}}
            </div>
            <div class="next-queue-number">
              Next queue: {{NextQueueTypeAContent}}
            </div>
          </div>
          <div class="queue-lightgreen">
            <div (click)="postCallQueue(currentQueueTypeBID, false, 'B')" class="button-queue-call ">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Call_Generic@2x.png">
              <div>REGISTRATION</div>
            </div>
            <div (click)="postCallQueue(currentQueueTypeBID, true, 'B')" class="button-queue-recall">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Recall_Reg@2x.png">
            </div>
            <div class="current-queue-number">
              {{currentQueueTypeBContent}}
            </div>
            <div class="next-queue-number">
              Next queue: {{NextQueueTypeBContent}}
            </div>
          </div>
          <div class="queue-lightred">
            <div (click)="postCallQueue(currentQueueTypeEID, false, 'E')" class="button-queue-call ">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Call_Generic@2x.png">
              <div>OTHERS</div>
            </div>
            <div (click)="postCallQueue(currentQueueTypeEID, true, 'E')" class="button-queue-recall">
              <img src="../../../assets/Asset%20-WEB%20Front%20Office/ic_Recall_Others@2x.png">
            </div>
            <div class="current-queue-number">
              {{currentQueueTypeEContent}}
            </div>
            <div class="next-queue-number">
              Next queue: {{NextQueueTypeEContent}}
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>