.fo_menu_container{
    width: fit-content;
    display: flex;
    flex-flow: column;
}

.fo_content_container{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: left;
  }

.box {
    box-shadow: 0px 2px 4px #ccc;
    border-radius: 8px;
}

.rounded-8 {
    border-radius: 8px;
}

.search-doctor {
    font-size: 14px;
    border: none;
    box-shadow: 0 5px 5px #ccc;
    border-radius: unset;
    height: 40px;
    padding-right: 40px;
}

.active{
    background-color: #EFEFEF !important;
    border-bottom: solid 2px #1A2268 !important;
}

.success-light {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: green;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}