<table class="table table-bordered mt-3 table-list-radiology">
  <thead class="border-0 bg-secondary">
    <tr>
      <td colspan="2" style="vertical-align: middle;"><span class="py-2">Appointment</span></td>
      <td *ngFor="let day of days"
        class="item-hover cursor-pointer {{day.isToday?'highlight-item-current':''}}"
        (click)="toDaily(day.date)">
        <div class="d-flex align-items-center justify-content-between px-1 py-2">
          <span>{{day.label}}</span>
          <b class="pr-2">{{day.value}}</b>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="isLoading; else showData">
      <tr>
        <td colspan="100%" class="text-center p-3">
          <div class="px-4 py-2 rounded">
            <div class="mb-2 loading-inline"><app-loading width="80px" [showLoad]="true"></app-loading></div>
            Memuat Data... Mohon Tunggu...
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-template #showData>
      <ng-container *ngIf="!(list && list.length)">
        <tr>
          <td colspan="100%" class="text-center p-3">Tidak ada data pada pilihan Modality ini</td>
        </tr>
      </ng-container>
      <tr *ngFor="let item of list; let i=index">
        <td *ngIf="i % slotConfigIntervalBlock == 0" [attr.rowspan]="slotConfigIntervalBlock" style="vertical-align: middle; width: 25px; background: #fff !important;" class="text-right">
          {{ ('0' + item.viewIndex).slice(-2) }}
        </td>
        <td style="width: 100px; vertical-align: middle;">{{ item.fromTime + ' - ' + item.toTime }}</td>
        <ng-container *ngFor="let day of item.days; let j=index" >
          <td *ngIf="!day.patientName && !day.isPast"
            title="{{day.dateTitle}}"
            class="cursor-pointer item-hover"
            (click)="createAppointment(day)">
            <span class="text-success">Tersedia</span>
          </td>
          <td *ngIf="!day.patientName && day.isPast"
            title="{{day.dateTitle}}"
            class="item-hover">
            <span class="text-danger" style="cursor: default;">Tidak Tersedia</span>
          </td>
          <td *ngIf="!day.isMaintenance && day.patientName && day.rowSpan > 0"
            [attr.rowspan]="day.rowSpan"
            title="{{day.dateTitle}}"
            [ngClass]="['cursor-pointer item-hover table-td table-td-scheduled item-indicator-primary', isClassBpjs(day.isBpjs) ]"
            style="vertical-align: top !important; width: 12.5%;"
            (click)="detailSchedule(day.slot)">
            <div style="line-height: 1.4;">
              <div style="font-size: 12px;"><b>{{day.patientName}}</b></div>
              <ng-container *ngIf="day.rowSpan > 1">
                <div class="pb-4 mt-1">
                  <div class="text-muted">{{day.patientDob}}</div>
                  <div class="text-muted">{{day.patientLocalMrNo}}</div>
                </div>
              </ng-container>
            </div>
          </td>
          <!-- Maintenance Slot Item -->
          <td *ngIf="day.isMaintenance && day.rowSpan > 0"
            [attr.rowspan]="day.rowSpan"
            title="Jadwal Maintenance {{day.dateTitle}}"
            [ngClass]="['cursor-pointer item-hover table-td table-td-note item-indicator-warning', isClassBpjs(day.isBpjs) ]"
            style="vertical-align: top !important; width: 12.5%;">
            <div style="line-height: 1.4;">
              <div style="font-size: 12px;"><b>{{day.note}}</b></div>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </tbody>
</table>
