<table class="table table-bordered mt-3 table-list-radiology">
  <thead class="border-0 bg-secondary">
    <tr>
      <td colspan="2" style="vertical-align: middle;"><span class="py-2">Appointment</span></td>
      <td *ngFor="let day of days"
        class="item-hover cursor-pointer {{day.isToday?'highlight-item-current':''}}"
        (click)="toDaily(day.date)">
        <div class="d-flex align-items-center justify-content-between px-1 py-2">
          <span>{{day.label}}</span>
          <b class="pr-2">{{day.value}}</b>
        </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="!(scheduleList && scheduleList.length)">
      <tr>
        <td colspan="100%" class="text-center p-3">No data from this section</td>
      </tr>
    </ng-container>
    <tr *ngFor="let item of scheduleList; let i=index">
      <td *ngIf="i%2==0" rowspan="2" style="vertical-align: middle; width: 25px;" class="text-right">
        {{(item.rowIndex).toString().padStart(2, '0')}}</td>
      <td style="width: 100px;">{{item.timeSlotFrom}} - {{item.timeSlotTo}}</td>
      <td *ngFor="let day of days" 
        title="{{day.date}}"  
        class="cursor-pointer item-hover">
        <span class="text-success">Available</span>
      </td>
    </tr>
  </tbody>
</table>